{% extends "layout.html" %}

{% block global_header_bar %}
  {{ nav.global(active='Performance') }}
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Performance
      </h1>

      <div class="grid-row">
        <div class="column-one-third">
          <div class="data">
            <span class="data-item bold-xlarge">560</span>
            <span class="data-item bold-xsmall">claimants completed</span>
          </div>
        </div>
        <div class="column-one-third">
          <div class="data">
            <span class="data-item bold-xlarge">560</span>
            <span class="data-item bold-xsmall">claimants completed</span>
          </div>
        </div>
        <div class="column-one-third">
          <div class="data">
            <span class="data-item bold-xlarge">560</span>
            <span class="data-item bold-xsmall">claimants completed</span>
          </div>
        </div>
      </div>

      <table>
        <thead>
            <tr>
              <th scope="col">Status in journey</th>
              <th class="numeric" scope="col">Number of claimants</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <th scope="row">Not Started</th>
            <td class="numeric">10</td>
          </tr>
          <tr>
            <th scope="row">Orientation</th>
            <td class="numeric">10</td>
          </tr>
          <tr>
            <th scope="row">Call to Act</th>
            <td class="numeric">10</td>
          </tr>
          <tr>
            <th scope="row">First Reminder</th>
            <td class="numeric">10</td>
          </tr>
          <tr>
            <th scope="row">Second Reminder</th>
            <td class="numeric">10</td>
          </tr>
          <tr>
            <th scope="row">Completed</th>
            <td class="numeric">10</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
