{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class='govuk-heading-l'>
        Performance
      </h1>

      <div class="govuk-grid-row">


        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-visually-hidden">
            Total successfully migrated cases
          </h2>
          <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">
            45,004
            <span class="govuk-body-s govuk-!-font-weight-bold" style="vertical-align: top">completed migrations</span>
          </p>
        </div>

        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-visually-hidden">
            Claimant satisfaction rate
          </h2>
          <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">
            0%
            <span class="govuk-body-s govuk-!-font-weight-bold" style="vertical-align: top">claimant satisfaction</span>
          </p>
        </div>


        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>




        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-2">
            <a href="#0">Claim submission rate</a>
          </h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">
                70%
              </p>
              <p class="govuk-body-s">post call to act</p>
            </div>
            <div class="govuk-grid-column-one-half">
              <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">
                82%
              </p>
              <p class="govuk-body-s">general</p>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-2">
            <a href="#0">TP rate</a>
          </h2>
          <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">
            51%
          </p>
        </div>


      </div>

    </div>
  </div>
{% endblock %}
