{% extends "sprint44/singles/layout2.html" %}

{% block content %}



<div class="govuk-grid-row">


  <div class="govuk-grid-column-full">
    <table class="govuk-table">

      <form action='index-reviews-sidenav' method='post' class='form' autocomplete='off'>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Show filters
</button>
</form>

<thead class="govuk-table__head">
  <tr class="govuk-table__row">

    <!-- <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Name</th> -->
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">National Insurance number</th>
    <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Claim by date</th>
  <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Next task</th>
    <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Task due date</th>

  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/paused-2" class="govuk-link govuk-link--no-visited-state">Jane Wood</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../couples/claimantdash/claimmade-tp-investigateV2" class="govuk-link govuk-link--no-visited-state">JB5432LP</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">2 August 2019</td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Review TP eligibility</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><span class="work-list-review-due">1 day overdue</span></td>
  </tr>
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/paused-2" class="govuk-link govuk-link--no-visited-state">Jane Wood</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../couples/claimantdash/claimmade-tp-calcdue" class="govuk-link govuk-link--no-visited-state">JB5432LP</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">2 August 2019</td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Calculate TP</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><span class="work-list-review-due">Due today</span></td>
  </tr>
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/paused-2" class="govuk-link govuk-link--no-visited-state">Jane Wood</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../couples/claimantdash/claimmade-tp-calcdue" class="govuk-link govuk-link--no-visited-state">JB5432LP</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">2 August 2019</td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Calculate TP</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><span class="work-list-review-due">Due today</span></td>
  </tr>
  <tr class="govuk-table__row">
  <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/migrationissued.html" class="govuk-link govuk-link--no-visited-state">John Hallam</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../singles/claimantdash-nextaction/migrationissued.html" class="govuk-link govuk-link--no-visited-state">EW234ORI</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">2 August 2019</td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Issue reminder</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">30 May 2019</td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">31 October 2019</td>
  </tr>
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/claimmade.html" class="govuk-link govuk-link--no-visited-state">Sarah Thomas</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../singles/claimantdash-nextaction/claimmade.html" class="govuk-link govuk-link--no-visited-state">JC12325IC</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Awaiting ID verification</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/readyinitalconvo" class="govuk-link govuk-link--no-visited-state">John Doe</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../singles/claimantdash/paused" class="govuk-link govuk-link--no-visited-state">QQ423881A</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Review deferral</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">25 October 2019</td>
  </tr>
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/selected.html" class="govuk-link govuk-link--no-visited-state">Jane Doe</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../singles/claimantdash/paused" class="govuk-link govuk-link--no-visited-state">DW424581A</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Review deferral</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">1 November 2019</td>
  </tr>
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/selected.html" class="govuk-link govuk-link--no-visited-state">Jane Doe</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../singles/claimantdash-nextaction/selected.html" class="govuk-link govuk-link--no-visited-state">DW424581A</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Select to move</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/selected.html" class="govuk-link govuk-link--no-visited-state">Jane Doe</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../singles/claimantdash-nextaction/selected.html" class="govuk-link govuk-link--no-visited-state">DW424581A</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Select to move</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/selected.html" class="govuk-link govuk-link--no-visited-state">Jane Doe</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../singles/claimantdash-nextaction/selected.html" class="govuk-link govuk-link--no-visited-state">DW424581A</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Select to move</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/selected.html" class="govuk-link govuk-link--no-visited-state">Jane Doe</a></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../../singles/claimantdash-nextaction/selected.html" class="govuk-link govuk-link--no-visited-state">DW424581A</a></th>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Select to move</td>
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td> -->
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
  </tr>
</tbody>
</table>

</div>
</div>


{% endblock %}
