{% extends "sprint56/singles/layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2"></p>
        <h2 class="govuk-heading-l">Generate an Extension Notice</h2>
      </div>
  </div>


<form action='success' method='post' class='form' autocomplete='off'>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">


      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Full name
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>


      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Address and postcode
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

<h2 class="govuk-heading-s">What is the new claim by date?</h2>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>





<p class="govuk-body govuk-!-margin-bottom-7"></p>
      <a href="#" class="govuk-link">Preview letter</a>

    </fieldset>
  </div>

  <div>
  <button type="submit" class="govuk-button" download>Continue and download the letter PDF</button>

<!-- <p class="govuk-body">The letter will be saved in your 'downloads' folder.</p>

<div class="govuk-inset-text">
  Do you want to log that you have issued a Migration Notice for <a href="../migrationnotice2/index" class="govuk-link">JC123456X</a>?
</div>

<a href="../claimantdash/selected-single-addpartner" class="govuk-link">Go back to the claimant's case</a> -->


</div>
</main>
<p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
