{% set claimStatus = 'MIGRATION NOTICE ISSUED' %}
{% extends "layout.html" %}

{% block main %}
{% block content %}


<div class="govuk-width-container">
    <a href="../claimantdash/readytomove.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-2"></p>
            <h2 class="govuk-heading-l">What are you needing to do?</h2>
        </div>
    </div>


    <form action='/changecircs2/confirm-answer' method='post' class='form' autocomplete='off'>
        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
                    <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="citizenship-conditional-1" name="changecircs2" type="radio" value="yes" data-aria-controls="conditional-citizenship-conditional-1">
                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
                                Give the claimant more time to claim
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="citizenship-conditional-2" name="changecircs2" type="radio" value="no" data-aria-controls="conditional-citizenship-conditional-2">
                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                Cancel Migration Notice
                            </label>
                        </div>
                        <!-- <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="citizenship-conditional-3" name="changecircs2" type="radio" value="no" data-aria-controls="conditional-citizenship-conditional-3">
                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-3">
                                Withdraw claimant from move to UC
                            </label>
                        </div> -->


                        <p class="govuk-body govuk-!-margin-bottom-7"></p>
                        <div id="conditional-citizenship-conditional-1">
                            <div class="govuk-form-group">
                                <p class="govuk-body govuk-!-margin-bottom-4"></p>
                                <div class="govuk-radios govuk-radios">
                                    <div class="govuk-inset-text govuk-inset-text--wide">
                                        The current deadline is 2 August 2019
                                    </div>
                                    <p class="govuk-body govuk-!-font-weight-bold">How much time do they need?</p>
                                    <div class="govuk-radios" data-module="radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-1" name="citizen" type="radio" value="email">
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
                                                1 week
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-1" name="citizen" type="radio" value="email"  >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
                                                2 weeks
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-1" name="citizen" type="radio" value="email" >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
                                                1 month
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                3 months
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email"  >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                6 months
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="govuk-body govuk-!-margin-bottom-7"></p>

                            <div class="govuk-radios govuk-radios">
                                <p class="govuk-body govuk-!-font-weight-bold">Why do they need more time?</p>
                                <div class="govuk-radios" data-module="radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant in hospital">
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            Going into hospital
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Family bereavement">
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                               Family bereavement
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value=" Victim of domestic abuse">
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                             Victim of domestic abuse
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" name="reason" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
    Another reason
  </label> </div>
<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
  <div class="govuk-form-group">
    <label class="govuk-label" for="contact-by-text">
      State reason
    </label>
    <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
  </div>  </div>

                                </div>
                            </div>
                        </div>


                        <p class="govuk-body govuk-!-margin-bottom-7"></p>
                        <div id="conditional-citizenship-conditional-2">
                            <div class="govuk-form-group">
                                <p class="govuk-body govuk-!-margin-bottom-4"></p>
                                <div class="govuk-radios govuk-radios">
                                    <p class="govuk-body govuk-!-font-weight-bold">When would you like to set the review date for?</p>
                                    <div class="govuk-radios" data-module="radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                1 week
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email">
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                2 weeks
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                1 month
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                3 months
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                6 months
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="govuk-body govuk-!-margin-bottom-7"></p>
                            <div class="govuk-radios govuk-radios">
                                <p class="govuk-body govuk-!-font-weight-bold">Why can't the claimant move?</p>
                                <div class="govuk-radios" data-module="radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant in hospital">
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            Claimant between 16 and 17 years old
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Fraud case under investigation" >
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            Fraud case under investigation
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant identified as a frontier worker" >
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            Claimant identified as a frontier worker
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Waiting on outcome of work capability assessment">
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            Waiting on outcome of work capability assessment
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant in prison" >
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            Claimant in prison
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant within 6 months of state pension age" >
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            Claimant within 6 months of state pension age
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant receiving tax credits nil award" >
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            Claimant receiving tax credits nil award
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="  Claimant did not attend their appointment" >
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            Claimant did not attend their appointment
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="IT or system failure">
                                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                            IT or system failure
                                        </label>
                                    </div>
                                      <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="IT or system failure">
                                    <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                        Claimant is deceased
                                    </label>
                                </div>
                                </div>
                            </div>
                        </div>


                        <!-- <p class="govuk-body govuk-!-margin-bottom-7"></p>
                        <div id="conditional-citizenship-conditional-3">
                            <div class="govuk-form-group">
                                <p class="govuk-body govuk-!-margin-bottom-4"></p>
                                <div class="govuk-radios govuk-radios">
                                    <p class="govuk-body govuk-!-font-weight-bold">Why are you withdrawing the claimant from moving?</p>
                                    <div class="govuk-radios" data-module="radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-12" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-12" >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-12">
                                                Claimant already moved the Universal Credit
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-12" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-12" >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-12">
                                                Claimant has moved onto state pension credit
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="citizenship-conditional-12" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-12" >
                                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-12">
                                                Claimant is deceased
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->


                    </div>



                    <p class="govuk-body govuk-!-margin-bottom-5"></p>

                    <div>
                        <button type="submit" class="govuk-button">Continue</button>
                    </div>
                    <p class="govuk-body govuk-!-margin-bottom-5"></p>

                </fieldset>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
{% endblock %}
