// Override the govuk-frontend font stack
$govuk-font-family: "Comic Sans MS", sans-serif;

// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

@import 'patterns/timeline';



// Hide GOV.UK logo and bump size of service name
.govuk-header__logo {display: none}
.govuk-header__link--service-name {
  font-size: 26px;
  @include govuk-media-query($from: desktop) {
    font-size: 30px;
  }
}

// Move sign out link to top right
.govuk-header__navigation-item:last-of-type {
  @include govuk-media-query($from: desktop) {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}





.secondary-text {
  color: $govuk-secondary-text-colour;
}





// Override visted link state for prototype
.govuk-link:visited {
  color: #005ea5!important;
}





.app-check-your-answers {
  width: 100%;
}





.header-details {
  @include govuk-font(19);

  padding-bottom: 20px;
  margin: 15px 0 30px;
  border-bottom: 1px solid govuk-colour("grey-2");
  display: flex;
  flex-wrap: wrap;

  dt {
    margin: 0 5px 0 0;
    font-weight: 700;
  }

  dd {
    padding: 0 20px 0 0;
    margin: 0 20px 0 0;
    border-right: 1px solid govuk-colour("grey-2");

    &:first-of-type{
      padding-left: 0px;
    }

    &:last-of-type{
      padding-right: 0px;
      border-right: 0;
    }

    @media (max-width:989px) {
      border-right: 0;
    }
  }

  dt, dd {
    line-height: 1;
    box-sizing: border-box;

    @media (max-width:989px) {
      width: 50%;
      margin: 0;
      padding: 5px 0 0 0;
    }

    @media (max-width:640px) {
      width: 100%;
      padding: 5px 0 0 0;
    }
  }
}
