// Override the govuk-frontend font stack
$govuk-font-family: "Arial", sans-serif;

// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "patterns/cookie-banner";





// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

@import 'patterns/buttons';
@import 'patterns/case-header';
@import 'patterns/timeline';






// fix tag height with font
.govuk-tag {
  padding: 5px 8px 3px;
}





// Wider notice like on gov.uk, cos it looks good :)
.govuk-inset-text--wide {
  border-left-width: 1em;
}




// Override date label colour to act as hint
.govuk-date-input__label {
  color: $govuk-secondary-text-colour;
}





// Hide GOV.UK logo and bump size of service name
.govuk-header__logo {display: none}
.govuk-header__link--service-name {
  font-size: 26px;
  @include govuk-media-query($from: desktop) {
    font-size: 30px;
  }
}

// Move sign out link to top right
.govuk-header__navigation-item:last-of-type {
  @include govuk-media-query($from: desktop) {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}





// Add a lighter text colour for secondary content, eg disabled things
.secondary-text {
  color: $govuk-secondary-text-colour;
}





// Override visted link state for prototype
.govuk-link:visited {
  color: #005ea5!important;
}





.app-related-items {
  border-top-width: 0;
  padding: 15px 0 0;

  &:first-of-type {
    border-top-width: 6px;
  }
}

.app-related-items .govuk-link {
  text-decoration: none;

  &:hover, &:active, &:focus {
    text-decoration: underline;
    color: $govuk-link-hover-colour;
  }
}

.case-main-content {
  border-top: 1px solid govuk-colour("grey-2");
  padding-top: 20px;
}

.app-check-your-answers__contents,
.app-check-your-answers__question,
.app-check-your-answers__answer,
.app-check-your-answers__change {
  border: 0;
  font-weight: normal;
}

.app-check-your-answers__question,
.app-check-your-answers__answer,
.app-check-your-answers__change {
  @include govuk-media-query($from: desktop) {
    padding: govuk-em(5, 19) govuk-em(20, 19) govuk-em(5, 19) 0;
  }
}

%govuk-heading-xs {
  @include govuk-text-colour;
  @include govuk-font($size: 16, $weight: bold);

  display: block;

  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
}

.govuk-heading-xs {
  @extend %govuk-heading-xs;
}
