<h2 class='govuk-heading-m'>
  Personal details
</h2>
<dl class='app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-6'>
  <div class='app-check-your-answers__contents'>
    <dt class='app-check-your-answers__question'>
      National Insurance number
    </dt>
    <dd class='app-check-your-answers__answer'>
      {{ claimant.nino | nino }}
    </dd>
  </div>

  <div class='app-check-your-answers__contents'>
    <dt class='app-check-your-answers__question'>
      Address
    </dt>
    <dd class='app-check-your-answers__answer'>
      {{ claimant.address.street }},
      {% if claimant.address.street2 %}
        {{ claimant.address.street2 }},
      {% endif %}
      {{ claimant.address.city }},
      {{ claimant.address.postcode }}
    </dd>
  </div>

  <div class='app-check-your-answers__contents'>
    <dt class='app-check-your-answers__question'>
      Telephone
    </dt>
    <dd class='app-check-your-answers__answer'>
      {% if claimant.landline %}
        {{ claimant.landline }}
      {% else %}
        <span class="secondary-text">Not on file</span>
      {% endif %}
    </dd>
  </div>

  <div class='app-check-your-answers__contents'>
    <dt class='app-check-your-answers__question'>
      Mobile
    </dt>
    <dd class='app-check-your-answers__answer'>
      {% if claimant.mobile %}
        {{ claimant.mobile | mobile }}
      {% else %}
        <span class="secondary-text">Not on file</span>
      {% endif %}
    </dd>
  </div>

  <div class='app-check-your-answers__contents'>
    <dt class='app-check-your-answers__question'>
      Legacy benefits
    </dt>
    <dd class='app-check-your-answers__answer'>
      <ul class="govuk-list govuk-!-margin-0">
        {% for i in claimant.legacyBenefits %}
        <li>{{ i }}</li>
        {% endfor %}
      </ul>
    </dd>
  </div>

  {% if claimant.markers and claimant.markers != "_unchecked" %}
  <div class='app-check-your-answers__contents'>
    <dt class='app-check-your-answers__question'>
      Markers
    </dt>
    <dd class='app-check-your-answers__answer'>
      <ul class="govuk-list govuk-!-margin-0">
        {% for i in claimant.markers %}
        <li>{{ i }}</li>
        {% endfor %}
      </ul>
    </dd>
  </div>
  {% endif %}
</dl>
