{% set claimStatus = 'READINESS CONVERSATION 1: READY' %}
{% extends "sprint52/singles/layout3.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <!-- <a href="index.html" class="govuk-back-link">Back</a> -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Personal details</h1>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>Date of birth</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>October 1979</p>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>Address</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>23 River View, Bedlington, NE2 5LS</p>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>Telephone number</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>07886 342345</p>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
          <div class="govuk-grid-column-one-third">
          </div>

        </div>        <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p>Legacy benefits</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <p>Housing benefit<br>
                      Income support
                      <p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                </div>
      </div>

      <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Case actions</h2>
        <ul class="govuk-list">
        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../readytomove/index.html">Log preperation conversation</a></li> -->
        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../migrationnotice2/index.html">Log Migration Notice issued</a></li> -->
          <li><a class="govuk-link govuk-link--no-visited-state" href="../claimdatecalc-alt/index.html">Prepare Migration Notice</a></li>

        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../claimmade/claim.html">Log claim made</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="../reminder/index.html">Log reminder issued</a></li> -->
        <li><a class="govuk-link govuk-link--no-visited-state" href="../pause/index.html">Defer move to UC</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="../nomoreaction/index.html">Withdraw from move to UC</a></li>
        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../complete/index.html">Log case as complete</a></li> -->
        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../claimdatecalc/index.html">Calculate the claim by date</a></li> -->
        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="#">Calculate Transitional Protection</a></li> -->
        </ul>


<h2 class="govuk-heading-m">Case history</h2>
        <ol class="govuk-list timeline">
          <li class="timeline-entry">
            <h3 class="govuk-heading-s timeline-title">{{ data['readytomove'] }}<br></h3>
            <p class="timeline-info govuk-body-s">
              <span class="timeline-date">2 May 2019</span>
              <p>{{ data['vehicle-type'] }}
            </p>
          </li>
                  <li class="timeline-entry">
                    <h3 class="govuk-heading-s timeline-title">Claimant selected to move</h3>
                    <p class="timeline-info govuk-body-s">
                      <span class="timeline-date">2 May 2019</span>
                    </p>
                  </li>
          </ol>
<a href="#" class="govuk-link govuk-link--no-visited-state">View full history</a>

      </div>
    </div>

  </main>
</div>

</div>
{% endblock %}
{% endblock %}
