{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set regExp = r/letter/ %}
      {% if regExp.test(type) %}
        {% set title = "Letter sent" %}
      {% else %}
        {% set title = "Text sent" %}
      {% endif %}

      {{ govukPanel({
        titleText: title,
        classes: 'govuk-!-padding-bottom-1'
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>The letter will be posted out to the claimant and should be with them in 3-5 working days.</p>

      <p><a href="/results?find={{ data['find'] }}">Back to claimant&rsquo;s case</p>

    </div>
  </div>

{% endblock %}
