{% set claimStatus = 'migration notice issued' %}
{% extends "sprint54/couples/layout3-unlink.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">


<p class="govuk-body govuk-!-margin-bottom-7"></p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <br>
          <h1 class="govuk-panel__title">
            You've linked JC123456X to QQ423881A
          </h1>
          <!-- <h3>Reason: In prison</h3> -->
<p class="govuk-body govuk-!-margin-bottom-1">
        </div>
        <!-- <div class="govuk-inset-text">
          Log you have issued a Cancellation Notice for <a href="../couple/cancel/index2.html" class="govuk-link">JC123456X</a>?
        </div> -->


<p class="govuk-body govuk-!-margin-bottom-7"></p>
<h4 class="govuk-heading-s">What to do next</h4>

    <div class="govuk-inset-text">
      You need to reissue Migration Notices to the claimant and their partner.
      Do you want to <a href="../migrationnotice2/index" class="govuk-link">log this action</a> now?
    </div>




        <p class="govuk-body">
          <a href="../claimantdash/selected-single-addpartner" class="govuk-link">Go back to the claimant's case</a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-7"></p>
      </div>
  </div>



  </div>
  {% endblock %}
    {% endblock %}
