{% set claimStatus = 'in scope to move' %}
{% extends "sprint51/couples/layout3-no-couple.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
     <a href="" class="govuk-back-link">Back</a>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-2"></p>
  <h2 class="govuk-heading-l">JC123456X already exists. Do you want to link these cases?</h2>

  <fieldset class="govuk-fieldset">
  <form action='../claimantdash/selected-single-addpartner' method='post' class='form' autocomplete='off'>

<!-- <p class="govuk-body">Do you want to link the two records?</p> -->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Yes, link these cases
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>



<!--
    <p class="govuk-body govuk-!-margin-bottom-6"></p>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Is this the lead claimant?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                  Yes
                </label> </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  No
                </label> </div>
            </div>
          </fieldset>
        </div> -->



  <!--

                    <p class="govuk-body govuk-!-margin-bottom-7"></p>
                      <div  data-module="radios" class="govuk-radios__conditional--hidden" id="conditional-citizenship-conditional-20">
                          <p class="govuk-body govuk-!-font-weight-bold">When did you issue the Cancellation Notice?</p>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email">
                          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                            Today
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone">
                          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                            Another date
                          </label> </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                              </div>
                            </div>


                        </div>
                      </div>





                                        <p class="govuk-body govuk-!-margin-bottom-5">
                                        <h2 class="govuk-heading-s">How did you issue the Cancellation Notice?</h2>
                                              <div class="govuk-radios">
                                                <div class="govuk-radios__item">
                                                  <input class="govuk-radios__input" id="vehicle-type-car" name="vehicle-type" type="radio" value="Working" {{ checked("vehicle-type", "Working") }}>
                                                  <label class="govuk-label govuk-radios__label" for="vehicle-type-car">
                                                    I gave it to the claimant
                                                  </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                  <input class="govuk-radios__input" id="vehicle-type-lorry" name="vehicle-type" type="radio" value="Not working" {{ checked("vehicle-type", "Not working") }}>
                                                  <label class="govuk-label govuk-radios__label" for="vehicle-type-lorry">
                                                      I posted it
                                                  </label>
                                                </div>

                                              </div> -->





                                                          </fieldset>

                                                          <div>
                                                            <button type="submit" class="govuk-button">
                                                                Save and return to case
                                                            </button>

                                                          </div>
                                                           <a href="../claimantdash/selected-single" class="govuk-link">Cancel and return to case</a>
                                                          </main>
                                                        <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                        </div>
                                                        {% endblock %}
                                                        {% endblock %}
