{% extends "layout.html" %}

{# {% block global_header_bar %}
  {{ nav.global(active='Performance') }}
{% endblock %} #}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Process reminders
      </h1>

      <div class="grid-row reminders-data">
        <div class="column-one-quarter">
          <div class="data data--total">
            <span class="data-item bold-xlarge">57</span>
            <span class="data-item bold-xsmall">calls remaining today</span>
          </div>
        </div>
        <div class="column-one-quarter desktop-show">
          <div class="data">
            <span class="data-item bold-xlarge">19</span>
            <span class="data-item bold-xsmall">first reminders</span>
          </div>
        </div>
        <div class="column-one-quarter desktop-show">
          <div class="data">
            <span class="data-item bold-xlarge">38</span>
            <span class="data-item bold-xsmall">second reminders</span>
          </div>
        </div>
        <div class="column-one-quarter">
          <div class="data">
            <span class="data-item bold-xlarge">4</span>
            <span class="data-item bold-xsmall">Welsh speakers</span>
          </div>
        </div>
      </div>

      <h2 class="heading-medium">
        Your workload
      </h2>

      <p>You don&rsquo;t have any calls in your workload</p>

      <div class="panel panel-border-wide">

        <form action="0" method="get" class="form">
          <fieldset>
            <legend class="visuallyhidden">Fetch a call</legend>

            <div class="form-group form-group-related">
              <div class="multiple-choice">
                <input id="processWelsh" type="checkbox" name="processWelsh" value="true">
                <label for="processWelsh">Include Welsh speakers</label>
              </div>
            </div>

            <div class="form-group">
              <a class="button" href="#0" role="button">
                Fetch next call
              </a>
            </div>
          </fieldset>
        </form>

      </div>

    </div>
  </div>
{% endblock %}
