{% extends "sprint58/singles/layout2.html" %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

  <h2 class="govuk-heading-l">My cases</h2>



  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter" style="width:72px; padding-top:1px; padding-bottom:-50px; ">
     <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Status</p>
   </div>
   <div class="govuk-grid-column-one-quarter" style="width:72px; padding-top:1px; padding-left:215px;">
     <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Approach</p>
   </div>
   <div class="govuk-grid-column-one-quarter" style="width:990px; padding-top:-300px;">
     <select class="govuk-select" id="sort" name="sort">
       <option value="published">Select status</option>
       <option value="updated">In scope to move</option>
       <option value="views">Selected to move</option>
       <option value="comments">Initial conversation</option>
       <option value="comments">Ready for Migration Notice</option>
       <option value="comments" selected>Migration Notice issued</option>
       <option value="comments">UC claim submitted</option>
         <option value="comments">TP data received</option>
     </select>
     &nbsp;&nbsp;&nbsp;
     <select class="govuk-select" id="sort" name="sort">
       <option value="published">Select approach</option>
       <option value="updated" selected>Work coach led</option>
       <option value="views">Partner led</option>
     </select>
     &nbsp;
     <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
       Filter
     </button>

     <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
       Reset
     </button>
   </div>

   </div>
<p class="govuk-body govuk-!-margin-bottom-5">
</div>

<p class="govuk-body govuk-!-margin-bottom-3">


  <div class="govuk-grid-column-full">
  <table class="govuk-table" border="0px">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">NINO</th>
        <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Status</th>
        <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col"><a href="#" class="govuk-link">Claim by date&nbsp;&nbsp;<img src="../../../public/images/arrow.png" width="12px"></a></th>
        <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col"><a href="#" class="govuk-link">Reminder due&nbsp;&nbsp;<img src="../../../public/images/arrow.png" width="12px"></a></th>
        <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col"><a href="#" class="govuk-link">Review due&nbsp;&nbsp;<img src="../../../public/images/arrow.png" width="12px"></a></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          JC123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          AA123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          LP123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          MM123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          SE123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          DE123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          PP123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          QQ123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          BH123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          AS123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          PL123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <a href="#" class="govuk-link">
          NN123456X</a><br><span class="approach">Work coach led</span></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-16">
            Migration Notice issued</span></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 June 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"></td>
      </tr>



    </tbody>
  </table>
  <p class="govuk-body govuk-!-margin-bottom-8">
  </div>


  <div class="govuk-grid-column-one-quarter" style="width:10px;">
<a href="#" class="govuk-link"><img src="../../../public/images/pagination-back.png" width="12px"></a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:80px;">
<a href="#" class="govuk-link" style="margin-top:1px;">Previous</a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:10px;">
<a href="#" class="govuk-link" style="margin-top:1px;">1</a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:10px;">
<a href="#" class="govuk-link" style="margin-top:1px;">2</a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:10px;">
<p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold"  style="margin-top:1px;">3</p>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:60px;">
<a href="#" class="govuk-link" style="margin-top:1px;">Next</a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:10px;" >
<a href="#" class="govuk-link"><img src="../../../public/images/pagination-forward.png" width="12px"></a>
  </div>

{% endblock %}
