{% extends "sprint48/singles/layout2.html" %}


{% block content %}


<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <!-- <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Name</th> -->
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Name</th>
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Status</th>
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Claim by date</th>
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Reminder due</th>
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Review due</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
    <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/migrationissued.html" class="govuk-link govuk-link--no-visited-state">John Hallam</a></td> -->
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/readyinitalconvo-withnameV1" class="govuk-link govuk-link--no-visited-state">John Smith</a></th>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Selected to move</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/claimmade.html" class="govuk-link govuk-link--no-visited-state">Sarah Thomas</a></td> -->
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Joe York</a></th>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">In scope to move</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/paused-2" class="govuk-link govuk-link--no-visited-state">Jane Wood</a></td> -->
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Sarah Lawson</a></th>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">In scope to move</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <!-- <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/readyinitalconvo" class="govuk-link govuk-link--no-visited-state">John Doe</a></td> -->
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Tim Smith</a></th>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">In scope to move</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    </tr>
  </tbody>
</table>


{% endblock %}
