.case-header__details {
  @include govuk-font(16);
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;

  @media (max-width:640px) {
    margin: 5px 0 15px;
  }

  dt {
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;
    font-weight: 700;
    border-left: 1px solid govuk-colour("grey-2");

    &:first-of-type{
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
    }

    @media (max-width:640px) {
      border-left: 0;
    }
  }

  dd {
    margin: 0 0 0 5px;

    &:first-of-type{
      margin: 0;
    }
  }

  dt, dd {
    box-sizing: border-box;
    line-height: 25px;

    @media (max-width:640px) {
      width: 100%;
      margin: 0;
      padding: 5px 0 0 0;
      line-height: 1;
    }
  }
}

.case-header__actions {
  display: block;
  margin: 0 0 40px;
  padding: 0 0 15px;
  border-bottom: 1px solid $govuk-border-colour;

  .govuk-button {
    margin-bottom: 5px;
  }
}
