.timeline {
  .entry {
    background-color: $govuk-link-colour;
    height: 4px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 10px;
  }

  li   {
    border-left: 4px solid $govuk-link-colour;
    padding: 0 0 20px 20px;
    margin-bottom: 0;
    position: relative;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

    li span {
      color: $govuk-secondary-text-colour;
      display: block;
    }
}
