{% extends "layout.html" %}

{% block beforeContent %}
  <a href="/results?find={{ data['find'] }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form action='/claimant/contact/confirmation-page' method='post' class='form' autocomplete='off'>
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        <h1 class='govuk-heading-l'>
          Add contact with {{ claimant.firstName }} {{ claimant.lastName }}
        </h1>
      </div>

      <div class="govuk-grid-column-two-thirds">
        {{ govukRadios({
          classes: 'govuk-radios--inlin',
          idPrefix: 'contactType',
          name: 'contactType',
          fieldset: {
            legend: {
              text: 'How did the claimant contact you?',
              isPageHeading: false,
              classes: ''
            }
          },
          items: [
            {
              value: 'Claimant called',
              text: 'Call'
            },
            {
              value: 'Claimant visited jobcentre',
              text: 'Jobcentre walk-in'
            }
          ]
        }) }}

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend">
              What did they need help with?
            </legend>

            <div class="govuk-checkboxes">

              {% for i in claimant.history %}
              {% set regExp = r/Contact with claimant/ %}
                {% if i.link %}
                {% if regExp.test(i.title) %}{% else %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="contactReason-{{loop.index}}" name="contactReason" type="checkbox" value="{{ i.title }}">
                    <label class="govuk-label govuk-checkboxes__label" for="contactReason-{{loop.index}}">
                      {{ i.title }} on {{ date  | date("subtract", i.date, "days") | date("D MMMM YYYY") }}
                    </label>
                  </div>
                {% endif %}
                {% endif %}
              {% endfor %}

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contactReason-last" name="contactReason" type="checkbox" value="When they have to claim by">
                <label class="govuk-label govuk-checkboxes__label" for="contactReason-last">
                  When they have to claim by
                </label>
              </div>

            </div>
          </fieldset>


        </div>

        {{ govukButton({
          text: "Submit",
          classes: ""
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
