{% set claimStatus = 'IN SCOPE TO MOVE' %}
{% extends "layout3.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="../claimantdash/selected.html" class="govuk-back-link">Back</a>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2"></p>
        <h2 class="govuk-heading-l">Why are you withdrawing the claimant from moving?</h2>
      </div>
  </div>

<fieldset class="govuk-fieldset">
<form action='success' method='post' class='form' autocomplete='off'>



     <div class="govuk-radios govuk-radios">

                 <div class="govuk-radios" data-module="radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant already moved to Universal Credit" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("reason", "Claimant already moved the Universal Credit") }}>
                      <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                        Claimant already moved the Universal Credit
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant has moved onto a new benefit" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("reason", "Claimant has moved onto a new benefit") }}>
                      <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                        Claimant has moved onto state pension credit
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant has died" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("reason", "Claimant has died") }}>
                      <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                        Claimant has died
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="citizenship-conditional-12" name="reason" type="radio" value="Claimant has died" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("reason", "Claimant has died") }}>
                      <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                        No longer on legacy benefits
                      </label>
                    </div>



                                                        <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                        </fieldset>
                                                          <p class="govuk-body govuk-!-margin-bottom-7"></p>
                                                        <div>
                                                          <button type="submit" class="govuk-button">
                                                            Continue
                                                          </button>
                                                        </div>
                                                        </main>
                                                      <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
