{% extends "sprint54/singles/layout2.html" %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">

  <h2 class="govuk-heading-l">My cases</h2>


  <form action='index-reviews-sidenavV4' method='post' class='form' autocomplete='off'>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Show filters
  </button>
  </form>



</div>
<div class="col-md-12" style="height:129px;">
</div>



  <div class="govuk-grid-column-full">

    <table class="govuk-table" border="0px">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Task</th>
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Claimant details</th>
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Claim by date</th>
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Task created</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="../../couples/claimantdash/selected-single-addpartner" class="govuk-link">
            Issue Migration Notice</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Andrew Smith</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Not yet determind</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Review deferral</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Ben Jones</span><br><span class="approach">Work coach led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Not yet determind</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">21 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Beth Smithson</span><br><span class="approach">Work coach led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">3 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">21 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Caroline Turner</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">3 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">25 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Daniel Smart</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">3 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">28 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Lee Smith</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">13 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">28 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Helen Scott</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">28 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Karen Cannon</span><br><span class="approach">Work coach led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">21 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">28 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Sarah Turner</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">25 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">28 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Simon Richards</span><br><span class="approach">Work coach led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">29 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">28 February 2020</td>
        </tr>


      </tbody>
    </table>

  </div>
</div>


{% endblock %}
