{% set claimStatus = 'deferred' %}
{% extends "sprint58/couples/layout3-no-couple-addpartner.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <!-- <a href="../claimantdash/selected-single" class="govuk-back-link">Back</a> -->

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-2"></p>
  <h2 class="govuk-heading-l">Add a partner</h2>
<!--
  <div class="govuk-inset-text">
    You will need to reissue a Migration Notice to the lead claimant and issue one to their partner.
  </div> -->

  <fieldset class="govuk-fieldset">
  <form action='success-deferred-exclusion' method='post' class='form' autocomplete='off'>


  <div class="govuk-form-group">
    <label class="govuk-label" for="contact-by-phone">
      Partner's National Insurance number
    </label>
    <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" value="JC123456X">
  </div>

  <div class="govuk-date-input" id="passport-issued">
    <label class="govuk-label" for="contact-by-phone">
      Partner's date of birth
    </label>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
          Month
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" value="10" type="number" pattern="[0-9]*">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          Year
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" value="1975" type="number" pattern="[0-9]*">
      </div>
    </div>
  </div>


<!--
 <h2 class="govuk-heading-s">JC123456X already exists. Do you want to link these cases?</h2>

        <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Yes, link these cases
                </label>
              </div>
            </div>  -->

<div class="govuk-inset-text">
    JC123456X is already in the system and has been excluded.<br><br>
    QQ423881A will now be excluded and will have the same exclusion review date as JC123456X.
    <p class="govuk-body govuk-!-margin-bottom-4">
    <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Link these cases
            </label>
          </div>
        </div>
</div>



  <p class="govuk-body govuk-!-margin-bottom-2">
<!--
<h2 class="govuk-heading-s">When did you issue the Cancellation Notice?</h2>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
      <div class="govuk-radios govuk-radios--conditional" data-module="radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
            Today
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
            Another date
          </label> </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
          <div class="govuk-date-input" id="passport-issued">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
              </div>
            </div>
        </div>
      </div>

      </div>
  </div>



<h2 class="govuk-heading-s">How did you issue the Cancellation Notice?</h2>
  <div class="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="vehicle-type-car" name="vehicle-type" type="radio" value="Working" {{ checked("vehicle-type", "Working") }}>
      <label class="govuk-label govuk-radios__label" for="vehicle-type-car">
        I gave it to the claimant
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="vehicle-type-lorry" name="vehicle-type" type="radio" value="Not working" {{ checked("vehicle-type", "Not working") }}>
      <label class="govuk-label govuk-radios__label" for="vehicle-type-lorry">
          I posted it
      </label>
    </div>

  </div> -->


  <!-- <p class="govuk-body govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s">How did you issue the Migration Notice to their partner?</h2>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="vehicle-type-car" name="vehicle-type" type="radio" value="Working" {{ checked("vehicle-type", "Working") }}>
        <label class="govuk-label govuk-radios__label" for="vehicle-type-car">
          I gave it to the claimant
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="vehicle-type-lorry" name="vehicle-type" type="radio" value="Not working" {{ checked("vehicle-type", "Not working") }}>
        <label class="govuk-label govuk-radios__label" for="vehicle-type-lorry">
            I posted it
        </label>
      </div>

    </div> -->


      </div>
    </div>
  <p class="govuk-body govuk-!-margin-bottom-6">



                                                          </fieldset>

                                                          <div>
                                                            <button type="submit" class="govuk-button">
                                                                Submit
                                                            </button>

                                                          </div>
                                                            <a href="../claimantdash/selected-single-alternate" class="govuk-link">Cancel and return to case</a>
                                                          </main>
                                                        <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                        </div>
                                                        {% endblock %}
                                                        {% endblock %}
