{% set claimStatus = 'deferred' %}
{% extends "sprint46/couples/layout3.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">


<p class="govuk-body govuk-!-margin-bottom-7"></p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <br>
          <h1 class="govuk-panel__title">
            You've excluded the claimant and their partner
          </h1>
          <h3>Reason: SDP</h3>

        </div>

        <!-- <div class="govuk-inset-text">
            Do you want to log an action for <a href="../couple/claimantdash/migrationissued.html" class="govuk-link">JC123456X</a>?
          </div> -->


<p class="govuk-body govuk-!-margin-bottom-7"></p>
<h4 class="govuk-heading-s">What to do next</h4>
        <p class="govuk-body">
          <a href="../claimantdash/cancel-issue.html" class="govuk-link">Go back to the claimant's case</a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-7"></p>
      </div>
  </div>



  </div>
  {% endblock %}
    {% endblock %}
