{% extends "layout.html" %}

{# {% block global_header_bar %}
  {{ nav.global(active='Find a claimant') }}
{% endblock %} #}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        No match found for &lsquo;{{ data['find'] | nino }}&rsquo;
      </h1>

      <p>The claimant might not have started the move to Universal Credit yet, or the National Insurance number could have been entered incorrectly.</p>

      <a class="button" href="/find" role="button">Search again</a>

    </div>
  </div>
{% endblock %}
