{% extends "sprint58/singles/layout3-investigate-done.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">


<p class="govuk-body govuk-!-margin-bottom-7"></p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <br>
          <h1 class="govuk-panel__title">
          You've logged the reason for the NINO mismatch
          </h1>
          <h3>Reason: Incorrect couple status</h3>
        </div>
        <!-- <div class="govuk-inset-text">
          Log you have issued a Cancellation Notice for <a href="../couple/pauseexclude/index.html" class="govuk-link">JC123456X</a>?
        </div>  -->

<p class="govuk-body govuk-!-margin-bottom-7"></p>
<h4 class="govuk-heading-s">What to do next</h4>
        <p class="govuk-body">
          <a href="../claimantdash/claimmade-tp-investigatedone.html" class="govuk-link">Go back to the claimant's case</a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-7"></p>
      </div>
  </div>



  </div>
  {% endblock %}
    {% endblock %}
