{% set claimStatus = 'migration notice issued' %}
{% extends "layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="../claimantdash/migrationissued.html" class="govuk-back-link">Back</a>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2"></p>
        <h2 class="govuk-heading-l">Give the claimant more time to claim</h2>
      </div>
  </div>
  <div class="govuk-inset-text govuk-inset-text--wide">
    The current deadline is 2 August 2019
  </div>


<fieldset class="govuk-fieldset">
<form action='confirm' method='post' class='form' autocomplete='off'>

       <div class="govuk-radios govuk-radios">
  <p class="govuk-body govuk-!-font-weight-bold">How much time do they need?</p>
                   <div class="govuk-radios" data-module="radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-2" >
                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                          1 week
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-2" >
                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                          2 weeks
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-2" >
                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                          1 month
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-2" >
                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                          3 months
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-2" >
                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                          6 months
                        </label>
                      </div>

<p class="govuk-body govuk-!-margin-bottom-7"></p>

                      <div class="govuk-radios govuk-radios">
                 <p class="govuk-body govuk-!-font-weight-bold">Why do they need more time?</p>
                                  <div class="govuk-radios" data-module="radios">
                                     <div class="govuk-radios__item">
                                       <input class="govuk-radios__input" id="citizenship-conditional-2" name="reason2" type="radio" value="Going into hospital" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("reason2", "Claimant in hospital") }}>
                                       <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                         Going into hospital
                                       </label>
                                     </div>
                                     <div class="govuk-radios__item">
                                       <input class="govuk-radios__input" id="citizenship-conditional-2" name="reason2" type="radio" value="Family bereavement" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("reason2", "Family bereavement") }}>
                                       <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                         Family bereavement
                                       </label>
                                     </div>
                                     <div class="govuk-radios__item">
                                       <input class="govuk-radios__input" id="citizenship-conditional-2" name="reason2" type="radio" value="Victim of domestic abuse" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("reason2", "Victim of domestic abuse") }}>
                                       <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                         Victim of domestic abuse
                                       </label>
                                     </div>
                                     <div class="govuk-radios__item">
                                       <input class="govuk-radios__input" id="citizenship-conditional-2" name="reason2" type="radio" value="Terminal illness" data-aria-controls="conditional-citizenship-conditional-2" {{ checked("reason2", "Victim of domestic abuse") }}>
                                       <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                        Terminal illness
                                       </label>
                                     </div>
                                     <div class="govuk-radios__item">
  <input class="govuk-radios__input" id="migrationnotice-12" name="migrationnotice" type="radio" value="no" data-aria-controls="conditional-migrationnotice-12">
  <label class="govuk-label govuk-radios__label" for="migrationnotice-12">
    Another reason
  </label>
</div>
<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-migrationnotice-12">
  <div class="govuk-date-input" id="passport-issued">


  <div class="govuk-form-group">
    <label class="govuk-label" for="event-name">
      State the reason
    </label>
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>




                                                        <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                        </fieldset>
                                                          <p class="govuk-body govuk-!-margin-bottom-7"></p>
                                                        <div>
                                                          <button type="submit" class="govuk-button">
                                                            Continue
                                                          </button>
                                                        </div>
                                                        </main>
                                                      <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
