{% set claimStatus = 'selected to move' %}
{% extends "layout3.html" %}

{% block main %}
{% block content %}


<div class="govuk-width-container">
  <a href="../claimantdash/readytomove.html" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-margin-bottom-2"></p>
      <h2 class="govuk-heading-l">What are you needing to do?</h2>
    </div>
  </div>

  <form action='/changecircs/confirm-answer' method='post' class='form' autocomplete='off'>
     <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
          <!-- <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changecircs-1" name="changecircs" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changecircs-1">
              Give the claimant more time to claim
            </label>
          </div> -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changecircs-2" name="changecircs" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changecircs-2">
              Pause claimants move to UC
            </label>
          </div>
          <!-- <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changecircs-3" name="changecircs" type="radio" value="no" data-aria-controls="conditional-migrationnotice-2">
            <label class="govuk-label govuk-radios__label" for="changecircs-3">
              Cancel migration notice
            </label>
          </div> -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changecircs-4" name="changecircs" type="radio" value="no" data-aria-controls="conditional-migrationnotice-2">
            <label class="govuk-label govuk-radios__label" for="changecircs-4">
              Withdraw claimant from move to UC
            </label>
          </div>


    </div>





  <p class="govuk-body govuk-!-margin-bottom-5"></p>

    <div>
      <button type="submit" class="govuk-button">Continue</button>
    </div>
      <p class="govuk-body govuk-!-margin-bottom-5"></p>
        </fieldset></form>

</div>

{% endblock %}
{% endblock %}
