{% set claimStatus = 'migration notice issued' %}
{% extends "sprint59/couples/layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <!-- <a href="index.html" class="govuk-back-link">Back</a> -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <div class="sidemenu-bar-noselect"></div>
          <h2 class="govuk-heading-s">Log an action</h2>
  <ul class="govuk-list">
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../initialconversation/index.html">Log initial conversation</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../readytomove/index.html">Log claimant ready to move</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../migrationnotice/issue.html">Log Migration Notice issued</a></li> -->
<li><a class="govuk-link govuk-link--no-visited-state" href="../claimmade/claim.html">UC claim made</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../reminder/index.html">Reminder issued</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../extended/index.html">More time given</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../cancel/index2.html">Stop a move</a></li>
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../nomoreaction/index.html">Withdrawn</a></li> -->
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../complete/index.html">Log case as complete</a></li> -->
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../claimdatecalc/index.html">Calculate the claim by date</a></li> -->
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="#">Calculate Transitional Protection</a></li> -->
</ul>




      </div>

      <div class="govuk-grid-column-three-quarters">


                <div class="claimant-heading">Claimant details</div>
        <hr>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p>Date of birth</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <p>October 1979</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                </div>
              <!-- <a href="../edit/index-single.html" class="govuk-link">Edit claimant details</a> -->
                <!-- <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p>Lead claimant</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <p>Yes</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                </div> -->


                          <!-- <p class="govuk-body govuk-!-margin-bottom-6">

                                <h2 class="govuk-heading-m">Partner details</h2>
                                    <hr>
                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-third">
                                        <p>Date of birth</p>
                                      </div>
                                      <div class="govuk-grid-column-one-third">
                                        <p>July 1982</p>
                                      </div>
                                      <div class="govuk-grid-column-one-third">
                                      </div>
                                      <div class="govuk-grid-column-one-third">
                                      </div>
                                    </div> -->



          <p class="govuk-body govuk-!-margin-bottom-4">

                <h2 class="govuk-heading-m">Case history</h2>


                    <hr>
                        <p class="govuk-body govuk-!-margin-bottom-6">
                        <ol class="govuk-list timeline">

                          <li class="timeline-entry">
                            <h3 class="govuk-heading-s timeline-title">Migration Notice issued</h3>
                            <p class="timeline-info govuk-body-s">
                              <span class="timeline-date">2 May 2019</span>
                              Issue date: 1 May 2019<br>
                              Claim by date: 2 August 2019<br>
                              Claimant method: Given to the claimant<br>
                              Partner method: Posted
                            </p>
                          </li>

                          <li class="timeline-entry">
                            <h3 class="govuk-heading-s timeline-title">Partner added</h3>
                            <p class="timeline-info govuk-body-s">
                              <span class="timeline-date">2 May 2019</span>
                            </p>
                          </li>
                                  <!-- <li class="timeline-entry">
                                    <h3 class="govuk-heading-s timeline-title">In scope to move</h3>
                                    <p class="timeline-info govuk-body-s">
                                      <span class="timeline-date">2 May 2019</span>
                                    </p>
                                  </li> -->
                          </ol>
                <a href="#" class="govuk-link govuk-link--no-visited-state">View full history</a>

      </div>
    </div>

  </main>
</div>

</div>
{% endblock %}
{% endblock %}
