{% extends "sprint39/singles/layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName + " prototype",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Scenarios</h2>

    <!-- <h2 class="govuk-heading-m">Add a partner</h2>
    <a href="../../../sprint46/couples/claimantdash/selected-single" class="govuk-link">1. Add a partner - UI link placement version 1</a><br>
    <a href="../../../sprint46/couples/claimantdash/selected-single-alternate" class="govuk-link">2. Add a partner - UI link placement version 2</a><br>
    <a href="../../../sprint46/couples/edit/index-single-exists" class="govuk-link">3. Add a partner - Partner already exists in system</a><br>
    <a href="../../../sprint46/couples/edit/index-single-migration-notice" class="govuk-link">4. Add a partner - Existing claimant has a Migration Notice</a><br>
    <a href="../../../sprint46/couples/edit/index-single-deferred" class="govuk-link">5. Add a partner - Partner already in the system as deferred</a><br>
    <a href="../../../sprint46/couples/edit/index-single-deferred-deferred" class="govuk-link">6. Add a partner - Both claimants already in the system as deferred</a><br>
    <a href="../../../sprint46/couples/edit/index-single-exclusion-exclusion" class="govuk-link">7. Add a partner - Both claimants already in the system as excluded</a><br>
    <a href="../../../sprint46/couples/edit/index-single-exclusion-deferral" class="govuk-link">8. Add a partner - One claimant deferred and one claimant excluded</a><br>
    <a href="../../../sprint46/couples/edit/index-single-mn" class="govuk-link">9. Add a partner - Both claimants have Migration Notices</a><br>
<div class="govuk-!-padding-bottom-6"></div> -->

<h2 class="govuk-heading-m">Case list view with filters</h2>
<a href="../../../sprint54/singles/worklist/index-reviews-sidenavV5" class="govuk-link">1. Take a claimant from 'in scope to move' to making a claim</a><br>
<div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-m">Previous scenarios</h2>
    <a href="../claimantdash/selected.html" class="govuk-link">1. Take a claimant from 'in scope to move' to making a claim</a><br>
    <a href="../claimantdash/selected.html" class="govuk-link">2. Withdraw claimant from journey (Claimant has moved to Pension Credit)</a><br>
    <a href="../claimantdash/cancel2.html" class="govuk-link">3. Give the claimant more time (Claimant going into hospital)</a><br>
    <a href="../claimantdash/cancel2.html" class="govuk-link">4. Cancel Migration Notice (Fraud case under investigation)</a><br>
    <a href="../claimantdash/selected.html" class="govuk-link">5. Defer a move (Claimant in prison)</a><br>
    <a href="../claimantdash/selected.html" class="govuk-link">6. Day 1 exclusion (Claimant on SDP)</a><br>
  </div>
</div>

<div class="govuk-!-padding-bottom-8"></div>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <span class="govuk-caption-m">Last updated:</span>
      <p class="govuk-body-s">23 July 2019</p>
  </div>
</div> -->



{% endblock %}
