{% extends "sprint56/singles/layout-alt.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2"></p>
        <h2 class="govuk-heading-l">Confirm that you want to be unassigned from this case</h2>
      </div>
  </div>


<form action='success' method='post' class='form' autocomplete='off'>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            Yes, I would like to be unassigned from this case
          </label>
        </div>

        <div class="govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
          <p class="govuk-body govuk-!-margin-bottom-7">
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                Select a team member
              </label>
              <select class="govuk-select" id="sort" name="sort">
                <option value="published" selected>Select</option>
                <option value="updated">Andrew Jones (2 cases)</option>
                <option value="views">Sarah Smith (12 cases)</option>
                <option value="comments">Sally Wilson (5 cases)</option>
                <option value="comments">Trevor Halliday (5 cases)</option>
              </select>
            </div>
        </div>
      </div>
    </div>


<p class="govuk-body govuk-!-margin-bottom-4"></p>

    </fieldset>
  </div>

  <div>
  <button type="submit" class="govuk-button" download>Submit</button>

<!-- <p class="govuk-body">The letter will be saved in your 'downloads' folder.</p>

<div class="govuk-inset-text">
  Do you want to log that you have issued a Migration Notice for <a href="../migrationnotice2/index" class="govuk-link">JC123456X</a>?
</div>

<a href="../claimantdash/selected-single-addpartner" class="govuk-link">Go back to the claimant's case</a> -->


</div>
</main>
<p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
