{% set claimStatus = 'UC CLAIM SUBMITTED' %}
{% extends "sprint53/couples/layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">


<p class="govuk-body govuk-!-margin-bottom-7"></p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <br>
          <h1 class="govuk-panel__title">
You’ve logged the Universal Credit claim for the claimant and their partner
          </h1>
        </div>
        <!-- <div class="govuk-inset-text">
          Do you want to log if <a href="../couple/claimmade/claim.html" class="govuk-link">JC123456X</a> has made a claim?
        </div> -->
<p class="govuk-body govuk-!-margin-bottom-7"></p>
<h4 class="govuk-heading-s">What to do next</h4>
        <p class="govuk-body">
          <a href="../claimantdash/claimmade.html" class="govuk-link">Go back to the claimant's case</a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-7"></p>
      </div>
  </div>



  </div>
  {% endblock %}
    {% endblock %}
