{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName + " prototype",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

<div class="key-details-bar">
<h1 class="key-details-ni">

  <span class="key-details-claimant-ni">QQ423881A</span>
  <div class="key-details-tag" style="float: right;">TP CALCULATION COMPLETE</div>
  <p class="govuk-body govuk-!-margin-bottom-1"></p>
</h1>

<hr class="key-details-line">
<p class="govuk-body govuk-!-margin-bottom-3"></p>

<div class="key-details-link">
  Deadline date: 12 December 2019
</div>
</div>


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Personal details</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>Name</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>John Doe</p>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>National Insurance number</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>QQ423881A</p>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>Address</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>23 River View, Bedlington, NE2 5LS</p>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>Telephone</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>0113 123456</p>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>Mobile</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>07886 342345</p>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
          <div class="govuk-grid-column-one-third">
          </div>

        </div>

      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Case actions</h2>


        <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Log an action</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Issue Migration Notic</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Pause move to UC</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Give the claimant more time</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Cancel move to UC</a>
  </li>
  <li>
    <a class="govuk-link" href="tp-task-list">Transitional Protection calculator</a>
  </li>
</ul>

<p>
<h2 class="govuk-heading-m">Case history</h2>
        <ol class="govuk-list timeline">

          <li class="timeline-entry">
            <h3 class="govuk-heading-s timeline-title">TP calculation complete</h3>
            <p class="timeline-info govuk-body-s">
              <span class="timeline-date">2 February 2019</span>
            </p><a href="tp-calculation" class="govuk-link">View calculation</a>
          </li>
                  <li class="timeline-entry">
                    <h3 class="govuk-heading-s timeline-title">Claim made</h3>
                    <p class="timeline-info govuk-body-s">
                      <span class="timeline-date">5 April 2019</span>
                    </p>
                  </li>


              </ol>
<a href="#" class="govuk-link govuk-link--no-visited-state">View full history</a>

      </div>
    </div>

  </main>
</div>


{% endblock %}
