{% extends "layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="index.html" class="govuk-back-link">Back</a>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Calculation result</h2>
      </div>
  </div>

  <fieldset class="govuk-fieldset">
  <form action='' method='post' class='form' autocomplete='off'>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Notional UC award</span>
        <h1 class="govuk-heading-xl">£1,088</h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">Monthly legacy award</span>
        <h1 class="govuk-heading-xl">£1,352.77</h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-caption-m">TP amount</span>
        <h1 class="govuk-heading-xl">£264.77</h1>
      </div>
    </div>


  <h3 class="govuk-heading-m">Notional UC award breakdown</h3>
    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Type of award</th>
          <th class="govuk-table__header" scope="col">Rate</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount per month</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Standard allowance</th>
          <td class="govuk-table__cell">Single claimant under 25</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£287</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Child 1 - award</th>
          <td class="govuk-table__cell">Standard rate</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£231</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Disability award</th>
          <td class="govuk-table__cell">Limited capability for work and work-related activity</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£225</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Carer's allowance</th>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£425</td>
        </tr>
      </tbody>
    </table>



    <!-- <h3 class="govuk-heading-m">Other income</h3> -->
      <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Other income</th>
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount per month</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Capital adjustment</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">-£80</td>
          </tr>
        </tbody>
      </table>


<p class="govuk-body govuk-!-margin-bottom-8"></p>

    <h3 class="govuk-heading-m">Monthly legacy award breakdown</h3>
      <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Type of award</th>
            <th class="govuk-table__header" scope="col">Rate</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount per month</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">JSA</th>
            <td class="govuk-table__cell">Legacy JSA award</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">	£316.77</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Income Support</th>
            <td class="govuk-table__cell">Legacy Income Support award</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">	£490</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Housing Benefit</th>
            <td class="govuk-table__cell">Legacy Housing Benefit award</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£546</td>
          </tr>

        </tbody>
      </table>



    <p class="govuk-body govuk-!-margin-bottom-7"></p>

    <!-- <button type="submit" class="govuk-button">Download as PDF</button> -->


  </fieldset>
  <div>
  <a href="claimant-case-complete" class="govuk-link">Back to claimant case</a>
    <p class="govuk-body govuk-!-margin-bottom-6"></p>
  </div>

  </main>


</div>
{% endblock %}
{% endblock %}
