{% extends "layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="tp-children.html" class="govuk-back-link">Back</a>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Step 3 of 6</span>
        <h2 class="govuk-heading-l">Carer details</h2>
      </div>
  </div>


<fieldset class="govuk-fieldset">
<form action='tp-income-benefits' method='post' class='form' autocomplete='off'>


<p class="govuk-body govuk-!-font-weight-bold">Is the claimant caring for someone with a health condition or disability? </p>
       <div class="govuk-radios govuk-radios">


                <div class="govuk-radios" data-module="radios">
                   <div class="govuk-radios__item">
                     <input class="govuk-radios__input" id="citizenship-conditional-1" name="caring1" type="radio" data-aria-controls="conditional-citizenship-conditional-1" value="Yes" {{ checked("caring1", "Yes") }}>
                     <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
                       Yes
                     </label>
                   </div>
                   <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-citizenship-conditional-1">
                     <div class="govuk-form-group">
                       <label class="govuk-label" for="contact-by-email">
                         Does the claimaint provide care for more than 35 hours per week?
                       </label>

                       <div class="govuk-radios__item">
                         <input class="govuk-radios__input" id="changed-name-1" name="caring" type="radio" value="Yes" {{ checked("caring", "Yes") }}>
                         <label class="govuk-label govuk-radios__label" for="changed-name-1">
                           Yes
                         </label>
                       </div>
                       <div class="govuk-radios__item">
                         <input class="govuk-radios__input" id="changed-name-1" name="caring" type="radio" value="No" {{ checked("caring", "No") }}>
                         <label class="govuk-label govuk-radios__label" for="changed-name-1">
                           No
                         </label>
                       </div>

                     </div>
                   </div>

                   <div class="govuk-radios" data-module="radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="citizenship-conditional-2" name="caring" type="radio" data-aria-controls="conditional-citizenship-conditional-2" value="No" {{ checked("caring1", "No") }}>
                        <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                          No
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-citizenship-conditional-2">
                        <div class="govuk-form-group">

                        </div>
                      </div>





                        <p class="govuk-body govuk-!-margin-bottom-7"></p>

                          <button type="submit" class="govuk-button">
                            Continue
                          </button>


  </fieldset>
  <div>
  <a href="tp-task-list-carer" class="govuk-link">Save and continue later</a>
  </div>
  </main>
<p class="govuk-body govuk-!-margin-bottom-7"></p>

</div>
{% endblock %}
{% endblock %}
