{% extends "layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">

<a href="index.html" class="govuk-back-link">Back</a>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Step 1 of 6</span>
        <h2 class="govuk-heading-l">Claimant details</h2>
      </div>
  </div>

<fieldset class="govuk-fieldset">
<form action='tp-children' method='post' class='form' autocomplete='off'>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        <p class="govuk-body govuk-!-font-weight-bold">Postcode</p>
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="postcode" type="text"  value="NE2 5LS">
    </div>

<p class="govuk-body"><p class="govuk-body govuk-!-font-weight-bold">Date of birth</p>
     <div class="govuk-date-input" id="passport-issued">
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
             Day
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*" value="3">
         </div>
       </div>
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
             Month
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*" value="10">
         </div>
       </div>
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
             Year
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*" value="1979">
         </div>
       </div>

<p class="govuk-body govuk-!-font-weight-bold">Which work capability group is the claimant in?</p>
       <div class="govuk-radios govuk-radios">

       <div class="govuk-radios" data-module="radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="citizenship-conditional-1" name="workrate" type="radio" value="LCW" data-aria-controls="conditional-citizenship-conditional-1" value="No" {{ checked("workrate", "LCW") }}>
            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
              LCW
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-citizenship-conditional-1">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                ESA claim start date
              </label>

              <div>
                <div class="govuk-date-input" id="passport-issued">
     <div class="govuk-date-input__item">
       <div class="govuk-form-group">
         <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
           Day
         </label>
         <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
       </div>
     </div>
     <div class="govuk-date-input__item">
       <div class="govuk-form-group">
         <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
           Month
         </label>
         <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
       </div>
     </div>
     <div class="govuk-date-input__item">
       <div class="govuk-form-group">
         <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
           Year
         </label>
         <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
       </div>
     </div>
   </div>
                <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">

              </div>
            </div>
          </div>

          <div class="govuk-radios" data-module="radios">
             <div class="govuk-radios__item">
               <input class="govuk-radios__input" id="citizenship-conditional-2" name="workrate" type="radio" value="LCWWRA" data-aria-controls="conditional-citizenship-conditional-2" value="LCWWRA" {{ checked("workrate", "LCWWRA") }}>
               <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                 LCWRA
               </label>
             </div>
             <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-citizenship-conditional-2">
               <div class="govuk-form-group">

               </div>
             </div>


       <p class="govuk-body govuk-!-margin-bottom-7"></p>
       <div class="govuk-form-group">
         <label class="govuk-label" for="address-postcode">
           <p class="govuk-body govuk-!-font-weight-bold">Total amount of earnings</p>
         </label>
         <input class="govuk-input govuk-input--width-10" id="address-postcode" name="earning-amount" type="text" value="£">
       </div>

<p class="govuk-body govuk-!-margin-bottom-7"></p>
       <p class="govuk-body govuk-!-font-weight-bold">Current employment status</p>
              <div class="govuk-radios govuk-radios">

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="vehicle-type-car" name="vehicle-type" type="radio" value="Working" {{ checked("vehicle-type", "Working") }}>
                    <label class="govuk-label govuk-radios__label" for="vehicle-type-car">
                      Working
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="vehicle-type-lorry" name="vehicle-type" type="radio" value="Not working" {{ checked("vehicle-type", "Not working") }}>
                    <label class="govuk-label govuk-radios__label" for="vehicle-type-lorry">
                      Not working
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="vehicle-type-motorcycle" name="vehicle-type" type="radio" value="Exempt" {{ checked("vehicle-type", "Exempt") }}>
                    <label class="govuk-label govuk-radios__label" for="vehicle-type-motorcycle">
                      Exempt
                    </label>
                  </div>
                </div>


<p class="govuk-body govuk-!-margin-bottom-7"></p>
            <p class="govuk-body govuk-!-font-weight-bold">Is the claimant receiving any external awards?</p>
            <span id="waste-hint" class="govuk-hint">
              Select all that apply.
            </span>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-1" name="vehicle-features" type="checkbox" value="Employment and Support Allowance with Support Component" {{ checked("vehicle-features", "Employment and Support Allowance with Support Component") }}>
                <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                  Employment and Support Allowance with Support Component
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="vehicle-features" type="checkbox" value="Jobseeker Allowance" {{ checked("vehicle-features", "Jobseeker Allowance") }}>
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Jobseeker Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="vehicle-features" type="checkbox" value="Bereavement Allowance" {{ checked("vehicle-features", "Bereavement Allowance") }}>
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Bereavement Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="vehicle-features" type="checkbox" value="Child Benefit" {{ checked("Child Benefit", "Child Benefit") }}>
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Child Benefit
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="vehicle-features" type="checkbox" value="Maternity Allowance" {{ checked("vehicle-features", "Maternity Allowance") }}>
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Maternity Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="vehicle-features" type="checkbox" value="Widowed Mothers Allowance" {{ checked("vehicle-features", "Widowed Mothers Allowance") }}>
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Widowed Mothers Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="vehicle-features" type="checkbox" value="Widowed Parents Allowance" {{ checked("vehicle-features", "Widowed Parents Allowance") }}>
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Widowed Parents Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="vehicle-features" type="checkbox" value="Widowed Pension Allowance" {{ checked("vehicle-features", "Widowed Pension Allowance") }}>
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Widowed Pension Allowance
                </label>
              </div>
            </div>


            <p class="govuk-body govuk-!-margin-bottom-7"></p>
                   <p class="govuk-body govuk-!-font-weight-bold">Is this part of a joint claim?</p>
                          <div class="govuk-radios govuk-radios">

                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                              <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                Yes
                              </label>
                            </div>

                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                              <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                No
                              </label>
                            </div>
                          </div>

                          <p class="govuk-body govuk-!-margin-bottom-7"></p>
                          <button type="submit" class="govuk-button">
                            Continue
                          </button>

                            </fieldset>
                            <div>
                            <a href="tp-task-list-claimant-details" class="govuk-link">Save and continue later</a>
                            </div>
                            </main>
<p class="govuk-body govuk-!-margin-bottom-7"></p>

                          </div>
                          {% endblock %}
                          {% endblock %}
