{% extends "layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="tp-claimant-details.html" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Step 2 of 6</span>
        <h2 class="govuk-heading-l">Children</h2>
      </div>
  </div>


      <fieldset class="govuk-fieldset">
          <form action='tp-carer' method='post' class='form' autocomplete='off'>
              <p class="govuk-body govuk-!-font-weight-bold">Does the claimant have children?</p>
              <div class="govuk-radios govuk-radios">


                  <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                     <div class="govuk-radios__item">
                       <input class="govuk-radios__input" id="children-conditional-1" name="hasChildren" type="radio" data-aria-controls="conditional-children-conditional-1" value="Yes" {{ checked("hasChildren", "Yes") }}>
                       <label class="govuk-label govuk-radios__label" for="children-conditional-1">
                         Yes
                       </label>
                     </div>
                     <div class="govuk-radios__item">
                       <input class="govuk-radios__input" id="children-conditional-2" name="hasChildren" type="radio" data-aria-controls="conditional-children-conditional-2" value="No" {{ checked("hasChildren", "No") }}>
                       <label class="govuk-label govuk-radios__label" for="children-conditional-2">
                         No
                       </label>
                     </div>
                     <p class="govuk-body govuk-!-margin-bottom-7"></p>

                     <div class="" id="conditional-children-conditional-1">
                       <div class="govuk-form-group">
                         <hr>
                         <h3 class="govuk-heading-m">Child 1</h3>
                         <div class="govuk-form-group">
                           <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

                             <p class="govuk-body"><p class="govuk-body govuk-!-font-weight-bold">Date of birth</p>
                             <div class="govuk-date-input" id="passport-issued">
                               <div class="govuk-date-input__item">
                                 <div class="govuk-form-group">
                                   <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                     Day
                                   </label>
                                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*" value="Day" {{ checked("passport-issued-day", "") }}>
                                 </div>
                               </div>
                               <div class="govuk-date-input__item">
                                 <div class="govuk-form-group">
                                   <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                     Month
                                   </label>
                                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*" value="Month" {{ checked("passport-issued-month", "") }}>
                                 </div>
                               </div>
                               <div class="govuk-date-input__item">
                                 <div class="govuk-form-group">
                                   <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                     Year
                                   </label>
                                   <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*" value="Year" {{ checked("passport-issued-year", "") }}>
                                 </div>
                               </div>
                             </div>

                             <div class="govuk-form-group">
                               <p class="govuk-body govuk-!-margin-bottom-4"></p>
                                 <h4 class="govuk-heading-s">Is the claimant receiving Child Benefit?</h4>
                                 <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                                   <div class="govuk-radios__item">
                                     <input class="govuk-radios__input" id="citizenship-conditional-8" name="ChildBen" type="radio" data-aria-controls="conditional-citizenship-conditional-8" value="Yes" {{ checked("dla", "Yes") }}>
                                     <label class="govuk-label govuk-radios__label" for="citizenship-conditional-8">
                                       Yes
                                     </label>
                                   </div>


                                   <div class="govuk-radios__item">
                                     <input class="govuk-radios__input" id="citizenship-conditional-7" name="ChildBen" type="radio" data-aria-controls="conditional-citizenship-conditional-7">
                                     <label class="govuk-label govuk-radios__label" for="citizenship-conditional-7">
                                       No
                                     </label>
                                   </div>

                                   <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-citizenship-conditional-7">
                                     <div class="govuk-form-group">

                                     </div>
                                   </div>


                             <div class="govuk-form-group">
                               <p class="govuk-body govuk-!-margin-bottom-4"></p>
                                 <h4 class="govuk-heading-s">Is the child receiving DLA or PIP?</h4>
                                 <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                                   <div class="govuk-radios__item">
                                     <input class="govuk-radios__input" id="citizenship-conditional-5" name="dla" type="radio" data-aria-controls="conditional-citizenship-conditional-5" value="Yes" {{ checked("dla", "Yes") }}>
                                     <label class="govuk-label govuk-radios__label" for="citizenship-conditional-5">
                                       Yes
                                     </label>
                                   </div>
                                   <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-citizenship-conditional-5">
                                     <div class="govuk-form-group">

                                       <div class="govuk-radios govuk-radios">

                                         <div class="govuk-radios__item">
                                           <input class="govuk-radios__input" id="changed-name-1" name="rate" type="radio" value="Higher rate" {{ checked("rate", "Higher rate") }}>
                                           <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                             Higher rate
                                           </label>
                                         </div>

                                         <div class="govuk-radios__item">
                                           <input class="govuk-radios__input" id="changed-name-1" name="rate" type="radio" value="Lower rate" {{ checked("rate", "Lower rate") }}>
                                           <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                             Lower rate
                                           </label>
                                         </div>

                                         <div class="govuk-radios__item">
                                           <input class="govuk-radios__input" id="changed-name-1" name="rate" type="radio" value="Waiting on application decision" {{ checked("rate", "Waiting on application decision") }}>
                                           <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                             Waiting on application decision
                                           </label>
                                         </div>
                                       </div>
                                     </div>
                                   </div>

                                   <div class="govuk-radios__item">
                                     <input class="govuk-radios__input" id="citizenship-conditional-6" name="dla" type="radio" data-aria-controls="conditional-citizenship-conditional-6" value="No" {{ checked("dla", "No") }}>
                                     <label class="govuk-label govuk-radios__label" for="citizenship-conditional-6">
                                       No
                                     </label>
                                   </div>
                                   <p class="govuk-body govuk-!-margin-bottom-4"></p>
                                   <a href="#" class="govuk-link">Add another child</a>
                                   <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-citizenship-conditional-6">
                                     <div class="govuk-form-group">

                                     </div>
                                   </div>
                                   <hr>
                                 </div>
                               </fieldset>
                             </div>
                         </div>
                       </div>
                     </div>
                   </div>
                   <p class="govuk-body govuk-!-margin-bottom-7"></p>
                   <button type="submit" class="govuk-button">
                      Continue
                   </button>
                   <div>
                     <a href="tp-task-list-children" class="govuk-link">Save and continue later</a>
                   </div>
                 </div>

               </form>
             </fieldset>
  </main>
<p class="govuk-body govuk-!-margin-bottom-7"></p>

</div>
{% endblock %}
{% endblock %}
