{% extends "layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="index.html" class="govuk-back-link">Back</a>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class='govuk-heading-l'>
          Calculate Transitional Protection
        </h1>
      </div>
  </div>


    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">Prepare application</span>
    </h2>
    <p>
        <ol class="app-task-list">

            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="tp-claimant-details" aria-describedby="company-information-completed">
                  1. Claimant details
                </a>
                <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="tp-children" aria-describedby="contact-details-completed">
                  2. Children
                </a>
<strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">IN PROGRESS</strong>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="tp-carer">
                  3. Carer details
                </a>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="tp-income-benefits">
                  4. Income and other benefits
                </a>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="tp-deductions" aria-describedby="medical-information-completed">
                  5. Deductions
                </a>

              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="tp-legacy" aria-describedby="medical-information-completed">
                  6. Legacy awards
                </a>

              </li>
            </ul>
          </li>
          <!-- <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Check and calculate
            </h2>
            <p>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="#">
                  Check answers and submit
                </a> -->
              </li>
            </ul>
          </li>
        </ol>

      </div>
    </div>


          </main>
</div>

</div>
{% endblock %}
{% endblock %}
