{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName + " prototype",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

<div class="key-details-bar">
<h1 class="key-details-ni">

  <span class="key-details-claimant-ni">QQ423881A</span>
  <div class="key-details-tag" style="float: right;">CLAIM MADE</div>
  <p class="govuk-body govuk-!-margin-bottom-1"></p>
</h1>

<hr class="key-details-line">
<p class="govuk-body govuk-!-margin-bottom-3"></p>

<div class="key-details-link">
  Deadline date: 12 December 2019
</div>
</div>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Calculate Transitional Protection
        </h1>

        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Prepare application
            </h2>
            <p>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                  Claimant details
                </a>
                <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                  Your contact details
                </a>
                <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="#">
                  List convictions
                </a>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="#">
                  Provide financial evidence
                </a>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="#" aria-describedby="medical-information-completed">
                  Give medical information
                </a>
                <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Apply
            </h2>
            <p>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="#">
                  Submit and pay
                </a>
              </li>
            </ul>
          </li>
        </ol>

      </div>
    </div>


          </main>
</div>


{% endblock %}
