{% extends "sprint58/singles/layout2-mi.html" %}

{% block main %}
{% block content %}

<div class="govuk-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2"></p>
        <h2 class="govuk-heading-l">Manage users</h2>
      </div>
    </div>

    <form action='success' method='post' class='form' autocomplete='off'>
  <fieldset class="govuk-fieldset">
    <!-- <p>Enter the details for the user you want to add. They will be emailed a link to complete the process.</p> -->

    <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Dashboard name</th>
        <th scope="col" class="govuk-table__header">Remove</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="../worklist/index-reviews-sidenavV5-dashboard" class="govuk-link">Dashboard 1</a></td>
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small govuk-radios govuk-radios--conditional">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" iid="pauseexclude-1" name="pauseexclude" type="radio" value="defer" data-aria-controls="conditional-citizenship-conditional-1">
              <label class="govuk-label govuk-checkboxes__label" for="pauseexclude-1" style="margin-bottom: 20px;">
              </label>
            </div>
          </div>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="../worklist/index-reviews-sidenavV5-dashboard" class="govuk-link">Dashboard 2</a></td>
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes govuk-checkboxes--small govuk-radios govuk-radios--conditional">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" iid="pauseexclude-1" name="pauseexclude" type="radio" value="defer" data-aria-controls="conditional-citizenship-conditional-1">
              <label class="govuk-label govuk-checkboxes__label" for="pauseexclude-1" style="margin-bottom: 20px;">
              </label>
            </div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>


                                                          <p class="govuk-body govuk-!-margin-bottom-8"></p>
                                                        <div>
                                                          <button type="submit" class="govuk-button">
                                                            Remove dashboard
                                                          </button>
                                                          </fieldset>
                                                           </form>
                                                        </div>
                                                        </main>
                                                      <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
