{% extends "sprint58/singles/layout2-allocator.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
<p class="govuk-body govuk-!-margin-bottom-4"></p>
    <!-- <div class="govuk-inset-text">
      You currently have 24 cases available to assign
    </div> -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Total unassigned cases</h2>
        <p class="govuk-body govuk-!-font-size-48 govuk-body govuk-!-font-weight-bold" style="margin-bottom:15px; margin-top:-15px;">24</p>
      </div>
  </div>

<p class="govuk-body govuk-!-margin-bottom-4"></p>
<form action='success-allocator' method='post' class='form' autocomplete='off'>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

      <div class="govuk-radios govuk-radios--conditional" data-module="radios">


        <div>


            <div>
              <div class="govuk-date-input" id="passport-issued">
                <h4 class="govuk-heading-s">1. Choose the type of case you want to assign</h4>
                <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                     <label class="govuk-label govuk-checkboxes__label" for="waste">
                      In scope to move (12 cases)
                     </label>
                </div>
                <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                     <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Selected to move (12 cases)
                     </label>
                </div>
            </div>
          </div>


          <p class="govuk-body govuk-!-margin-bottom-8"></p>

            <!-- <div class="govuk-form-group">
            <h4 class="govuk-heading-s">2. How many cases would you like to assign per person?</h4>

              <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">

            </div> -->

          <div class="govuk-date-input" id="passport-issued">
            <h4 class="govuk-heading-s">2. How many cases would you like to assign to each team member?</h4>

            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-4" id="width-4" name="width-4" type="text">
            </div>
            <div style="margin-top:-62px; margin-left:100px; margin-bottom:120px float:left;">
              <p> <span class="key-details-tag-role-assign">WC</span>Andrew Jones (12 cases)</p>
            </div>

            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-4" id="width-4" name="width-4" type="text">
            </div>
            <div style="margin-top:-62px; margin-left:100px; margin-bottom:120px float:left;">
              <p><span class="key-details-tag-role-assign">WC</span> Caroline Smith (2 cases)</p>
            </div>

            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-4" id="width-4" name="width-4" type="text">
            </div>
            <div style="margin-top:-62px; margin-left:100px; margin-bottom:120px float:left;">
              <p><span class="key-details-tag-role-assign">CM</span> Jen Simpson (8 cases)</p>
            </div>

            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-4" id="width-4" name="width-4" type="text">
            </div>
            <div style="margin-top:-62px; margin-left:100px; margin-bottom:120px float:left;">
              <p><span class="key-details-tag-role-assign">CM</span> Sarah Smith (7 cases)</p>
            </div>

            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-4" id="width-4" name="width-4" type="text">
            </div>
            <div style="margin-top:-62px; margin-left:100px; margin-bottom:120px float:left;">
              <p><span class="key-details-tag-role-assign">BP</span> Simon Williams (8 cases)</p>
            </div>

            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-4" id="width-4" name="width-4" type="text">
            </div>
            <div style="margin-top:-62px; margin-left:100px; margin-bottom:120px float:left;">
              <p><span class="key-details-tag-role-assign">BP</span> Tina Smithson (7 cases)</p>
            </div>



        </div>
      </div>
    </div>


<p class="govuk-body govuk-!-margin-bottom-4"></p>

    </fieldset>
  </div>

  <div>
  <button type="submit" class="govuk-button" download>Submit</button>

<!-- <p class="govuk-body">The letter will be saved in your 'downloads' folder.</p>

<div class="govuk-inset-text">
  Do you want to log that you have issued a Migration Notice for <a href="../migrationnotice2/index" class="govuk-link">JC123456X</a>?
</div>

<a href="../claimantdash/selected-single-addpartner" class="govuk-link">Go back to the claimant's case</a> -->


</div>
</main>
<p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
