{% set claimStatus = 'Initial conversation complete' %}
{% extends "layout3.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="../claimantdash/selected.html" class="govuk-back-link">Back</a>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2"></p>
        <h2 class="govuk-heading-l">Are you happy the claimant is ready to move to Universal Credit? </h2>
      </div>
  </div>


  <form action='/readytomove/confirm-answer' method='post' class='form' autocomplete='off'>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
      <div class="govuk-radios" data-module="radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="readytomove-1" name="readytomove" type="radio" value="Ready to move" data-aria-controls="conditional-citizenship-conditional-0" {{ checked("vehicle-features", "Jobseeker Allowance") }}>
          <label class="govuk-label govuk-radios__label" for="readytomove-1">
            I'm happy the claimant is ready to move
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="readytomove-2" name="readytomove" type="radio" value="Not ready to move" data-aria-controls="conditional-citizenship-conditional-1" {{ checked("vehicle-features", "Jobseeker Allowance") }}>
          <label class="govuk-label govuk-radios__label" for="readytomove-2">
            I'm not happy the claimant is ready to move
          </label>
        </div>

        <p class="govuk-body govuk-!-margin-bottom-7"></p>
        <div  id="conditional-citizenship-conditional-1">
          <div class="govuk-form-group">
            <p class="govuk-body govuk-!-margin-bottom-4"></p>
            <label class="govuk-label" for="contact-by-email">
              <p class="govuk-body govuk-!-font-weight-bold">Why is the claimant not ready?</p>
            </label>

                            <div class="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="vehicle-type-car" name="vehicle-type" type="radio" value="Health condition" {{ checked("vehicle-type", "Working") }}>
                                <label class="govuk-label govuk-radios__label" for="vehicle-type-car">
                                  Health condition
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="vehicle-type-lorry" name="vehicle-type" type="radio" value="Domestic violence" {{ checked("vehicle-type", "Not working") }}>
                                <label class="govuk-label govuk-radios__label" for="vehicle-type-lorry">
                                Domestic violence
                                </label>
                              </div>
                              <div class="govuk-radios__item">
<input class="govuk-radios__input" id="migrationnotice-12" name="migrationnotice" type="radio" value="no" data-aria-controls="conditional-migrationnotice-12">
<label class="govuk-label govuk-radios__label" for="migrationnotice-12">
Another reason
</label>
</div>
<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-migrationnotice-12">
<div class="govuk-date-input" id="passport-issued">


<div class="govuk-form-group">
<label class="govuk-label" for="event-name">
Reason
</label>
<input class="govuk-input" id="event-name" name="event-name" type="text">
</div>
                            </div></div></div>
                          </div>


                          <p class="govuk-body govuk-!-margin-bottom-7"></p>
                          <div id="conditional-citizenship-conditional-2">
                              <div class="govuk-form-group">
                                  <p class="govuk-body govuk-!-margin-bottom-4"></p>
                                  <div class="govuk-radios govuk-radios">
                                      <p class="govuk-body govuk-!-font-weight-bold">When would you like to set the review date for?</p>
                                      <div class="govuk-radios" data-module="radios">
                                          <div class="govuk-radios__item">
                                              <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" >
                                              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                  1 week
                                              </label>
                                          </div>
                                          <div class="govuk-radios__item">
                                              <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email">
                                              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                  2 weeks
                                              </label>
                                          </div>
                                          <div class="govuk-radios__item">
                                              <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" >
                                              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                  1 month
                                              </label>
                                          </div>
                                          <div class="govuk-radios__item">
                                              <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" >
                                              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                  3 months
                                              </label>
                                          </div>
                                          <div class="govuk-radios__item">
                                              <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="email" >
                                              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                                  6 months
                                              </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>  </div>

      </div>
    </div>
  </div>




                                                          </fieldset>


                                                        <div>
                                                          <button type="submit" class="govuk-button">
                                                            Submit
                                                          </button>
                                                        </div>
                                                        </main>
                                                      <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
