{% set claimStatus = 'NOT READY FOR MIGRATION NOTICE' %}
{% extends "sprint53/couples/layout3.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">


<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">

        <div class="sidemenu-bar-noselect"></div>
          <h2 class="govuk-heading-s">Log an action</h2>

        <ul class="govuk-list">
                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../readytomove/index.html">Log preperation conversation</a></li> -->
                <li><a class="govuk-link govuk-link--no-visited-state" href="../readytomove/index">Readiness conversation</a></li>
                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../claimmade/claim.html">Log claim made</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="../reminder/index.html">Log reminder issued</a></li> -->
                <li><a class="govuk-link govuk-link--no-visited-state" href="../pauseexclude/index.html">Deferred or excluded</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="../nomoreaction/index.html">Withdrawn</a></li>
                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../claimmade/claim.html">UC claim made</a></li> -->
                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../complete/index.html">Log case as complete</a></li> -->
                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../claimdatecalc/index.html">Calculate the claim by date</a></li> -->
                <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="#">Calculate Transitional Protection</a></li> -->
        </ul>



      </div>

      <div class="govuk-grid-column-three-quarters">

                  <div class="claimant-heading">Claimant details</div>
          <hr>


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p>Date of birth</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <p>3 October 1979</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                </div>


                  <p class="govuk-body govuk-!-margin-bottom-6">
                  <h2 class="govuk-heading-m">Case history</h2>
                <hr>
                    <p class="govuk-body govuk-!-margin-bottom-6">
                        <ol class="govuk-list timeline">
                          <li class="timeline-entry">
                            <h3 class="govuk-heading-s timeline-title">Readiness conversation 1: Not ready for Migration Notice<br></h3>
                            <p class="timeline-info govuk-body-s">
                              <span class="timeline-date">2 May 2019</span>
                              <p>Conversation date: 2 May 2019<br>
                                Reason: Domestic violence<br>
                                Review date: 2 June 2019
                            </p>
                          </li>
                                  <li class="timeline-entry">
                                    <h3 class="govuk-heading-s timeline-title">Selected to move</h3>
                                    <p class="timeline-info govuk-body-s">
                                      <span class="timeline-date">2 May 2019</span>
                                    </p>
                                  </li>
                          </ol>
                <a href="#" class="govuk-link govuk-link--no-visited-state">View full history</a>


      </div>
    </div>

  </main>
</div>

</div>
{% endblock %}
{% endblock %}
