{% set claimStatus = 'in scope to move' %}
{% extends "layout3-no-couple2.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <!-- <a href="index.html" class="govuk-back-link">Back</a> -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <a href="../claimantdashv2/readyinitalconvo.html" class="govuk-button--select govuk-button--small">
        Select to move</a>
      <div class="sidemenu-bar"></div>
        <h2 class="govuk-heading-s">Log an action</h2>

<ul class="govuk-list">
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../initialconversation/index.html">Log initial conversation</a></li> -->
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../readytomove/index.html">Outcome of a readiness conversation</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../migrationnotice/issue.html">Log Migration Notice issued</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../claimmade/claim.html">Log claim made</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../reminder/index.html">Log reminder issued</a></li> -->
<li><a class="govuk-link govuk-link--no-visited-state" href="../pauseexclude/index.html">Deferred or excluded</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../nomoreaction/index.html">Withdrawn</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../claimmade/claim.html">UC claim made</a></li>
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../complete/index.html">Log case as complete</a></li> -->
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../claimdatecalc/index.html">Calculate the claim by date</a></li> -->
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="#">Calculate Transitional Protection</a></li> -->
</ul>

      </div>

      <div class="govuk-grid-column-three-quarters">


                <div class="claimant-heading">Claimant details</div>
        <hr>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p>Date of birth</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <p>3 October 1979</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                </div>

                <p class="govuk-body govuk-!-margin-bottom-6">

                <h2 class="govuk-heading-m">Partner details</h2>
                    <hr>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third">
                        <p>National Insurance number</p>
                      </div>
                      <div class="govuk-grid-column-one-third">
                        <a href="../claimantdashv4/selectedV2.html" class="govuk-link govuk-link--no-visited-state">QQ423881A</a>

                      </div>
                      <div class="govuk-grid-column-one-third">
                      </div>
                      <div class="govuk-grid-column-one-third">
                      </div>
                    </div>

                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third">
                        <p>Date of birth</p>
                      </div>
                      <div class="govuk-grid-column-one-third">
                        <p>13 July 1982</p>
                      </div>
                      <div class="govuk-grid-column-one-third">
                      </div>
                      <div class="govuk-grid-column-one-third">
                      </div>
                    </div>

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p>Move to UC status</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <p>In scope to move</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                </div>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p>Lead claimant</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <p>Yes</p>
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                  <div class="govuk-grid-column-one-third">
                  </div>
                </div>



                          <!-- <p class="govuk-body govuk-!-margin-bottom-6">

                                <h2 class="govuk-heading-m">Partner details</h2>
                                    <hr>
                                    <div class="govuk-grid-row">
                                      <div class="govuk-grid-column-one-third">
                                        <p>Date of birth</p>
                                      </div>
                                      <div class="govuk-grid-column-one-third">
                                        <p>13 July 1982</p>
                                      </div>
                                      <div class="govuk-grid-column-one-third">
                                      </div>
                                      <div class="govuk-grid-column-one-third">
                                      </div>
                                    </div> -->



          <p class="govuk-body govuk-!-margin-bottom-6">

                <h2 class="govuk-heading-m">Case history</h2>
                    <hr>
                        <p class="govuk-body govuk-!-margin-bottom-6">
                        <ol class="govuk-list timeline">
                                  <li class="timeline-entry">
                                    <h3 class="govuk-heading-s timeline-title">In scope to move</h3>
                                    <p class="timeline-info govuk-body-s">
                                      <span class="timeline-date">2 May 2019</span>
                                    </p>
                                  </li>
                          </ol>
                <a href="#" class="govuk-link govuk-link--no-visited-state">View full history</a>

      </div>
    </div>

  </main>
</div>

</div>
{% endblock %}
{% endblock %}
