{% extends "sprint56/singles/layout2.html" %}

{% block content %}

<!-- <a href="index-reviews-sidenav-tasks1" class="govuk-back-link" style="margin-top:-400px;">Back</a> -->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Andrew Smith</h1>


<form action='../worklist/index-reviews-sidenavV5b' method='post' class='form' autocomplete='off'>

  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
    <thead class="govuk-table__head">
      <!-- <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Job title</th>
        <th scope="col" class="govuk-table__header">Amount</th>
      </tr> -->
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Role</th>
        <td class="govuk-table__cell">Work coach</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Location</th>
        <td class="govuk-table__cell">Harrogate</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Email address</th>
        <td class="govuk-table__cell">andrew.smith@.gov.uk</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Number of cases assigned</th>
        <td class="govuk-table__cell">38</td>
      </tr>
    </tbody>
  </table>
</fieldset>
</div>

</div>


                                                    <div>
                                                      <button type="submit" class="govuk-button">
                                                        Work on cases assigned to Andrew Smith
                                                      </button>
                                                    </div>
                                                    </main>
                                                  <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                  </div>
                                                  {% endblock %}
