{% extends "sprint56/singles/layout2.html" %}

{% block content %}

<!-- <a href="index-reviews-sidenav-tasks1" class="govuk-back-link" style="margin-top:-400px;">Back</a> -->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Team members</h1>




<p class="govuk-body govuk-!-margin-bottom-5">
</div>
<p class="govuk-body govuk-!-margin-bottom-3">


  <div class="govuk-grid-column-full">
  <table class="govuk-table" border="0px">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-table__cell" scope="col"><a href="#" class="govuk-link">Case worker name&nbsp;&nbsp;<img src="../../../public/images/arrow.png" width="12px"></a></th>
        <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-table__cell" scope="col">Number of Cases</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <a href="confirm" class="govuk-link">Andrew Smith</a></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-19">
            38</span></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <a href="../../singles/worklist/index-reviews-sidenav-tasks1-team" class="govuk-link">Andrea Thomas</a></td>
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-19">
            16</span></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <a href="../../singles/worklist/index-reviews-sidenav-tasks1-team" class="govuk-link">Brian Wilson</a></td>
        <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-19">
            21</span></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <a href="../../singles/worklist/index-reviews-sidenav-tasks1-team" class="govuk-link">Caroline Jones</a></td>
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-19">
            20</span></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <a href="../../singles/worklist/index-reviews-sidenav-tasks1-team" class="govuk-link">Karen Lewis</a></td>
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-19">
            11</span></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <a href="../../singles/worklist/index-reviews-sidenav-tasks1-team" class="govuk-link">Lee West</a></td>
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-19">
            30</span></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <a href="../../singles/worklist/index-reviews-sidenav-tasks1-team" class="govuk-link">Sarah Jones</a></td>
        <td class="govuk-body govuk-!-font-size-19 govuk-table__cell" valign="top">
          <span class="govuk-body govuk-!-font-size-19">
            17</span></td>
      </tr>

    </tbody>
  </table>
  <p class="govuk-body govuk-!-margin-bottom-8">
  </div>


  <!-- <div class="govuk-grid-column-one-quarter" style="width:10px;">
<a href="#" class="govuk-link"><img src="../../../public/images/pagination-back.png" width="12px"></a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:80px;">
<a href="#" class="govuk-link" style="margin-top:1px;">Previous</a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:10px;">
<a href="#" class="govuk-link" style="margin-top:1px;">1</a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:10px;">
<a href="#" class="govuk-link" style="margin-top:1px;">2</a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:10px;">
<p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold"  style="margin-top:1px;">3</p>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:60px;">
<a href="#" class="govuk-link" style="margin-top:1px;">Next</a>
  </div>

  <div class="govuk-grid-column-one-quarter" style="width:10px;" >
<a href="#" class="govuk-link"><img src="../../../public/images/pagination-forward.png" width="12px"></a>
  </div>
  <div class="govuk-grid-column-one-quarter" style="width:689px; text-align: right; padding-right:0px;" >
<p class="govuk-body govuk-!-font-size-16">

Showing <b>200</b> to <b>300</b> of <b>300</b> results</p>
  </div> -->


{% endblock %}
