{% extends "sprint56/singles/layout2.html" %}


{% block content %}

<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">National Insurance number</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Claim by date</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Paused until</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="../claimantdash/claimmade-tp.html" class="govuk-link govuk-link--no-visited-state">QQ423881A</a></th>
      <td class="govuk-table__cell govuk-table__cell">Claim submited</td>
      <td class="govuk-table__cell govuk-table__cell">2 August 2019</td>
      <td class="govuk-table__cell govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">JC12325IC</a></th>
      <td class="govuk-table__cell govuk-table__cell">Claim submitted</td>
      <td class="govuk-table__cell govuk-table__cell">1 September 2019</td>
      <td class="govuk-table__cell govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">AA325664</a></th>
      <td class="govuk-table__cell govuk-table__cell">Claim submitted</td>
      <td class="govuk-table__cell govuk-table__cell">10 September 2019</td>
      <td class="govuk-table__cell govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">DT3457786</a></th>
      <td class="govuk-table__cell govuk-table__cell">Claim submitted</td>
      <td class="govuk-table__cell govuk-table__cell">1 October 2019</td>
      <td class="govuk-table__cell govuk-table__cell"></td>
    </tr>
  </tbody>
</table>



{% endblock %}
