{% extends "sprint55/singles/layout2.html" %}

{% block content %}

<a href="index-reviews-sidenav-tasks1" class="govuk-back-link" style="margin-top:-400px;">Back</a>

<div class="govuk-grid-row">

    <div><h2 class="govuk-heading-xl" style="margin-left: 12px;">Issue Migration Notice</h2></div>

  <div class="govuk-grid-column-one-quarter">


  <p class="govuk-body govuk-!-margin-bottom-2">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <p class="filter-title">Filter by cases</p><br>
        <hr class="filters">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT" checked>
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4" style="margin-top: 1px;" >
              Only my cases
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4" style="margin-top: 1px;" >
              Sarah Jones's case
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4" style="margin-top: 1px;" >
              James Smith's cases
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4" style="margin-top: 1px;" >
              Sally Wilsons's cases
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4" style="margin-top: 1px;" >
              Jill Readman's cases
            </label>
          </div>
        </div>
      </fieldset>
    </div>


    <p class="govuk-body govuk-!-margin-bottom-2">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <h4 class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold">Filter by approach</h4>
          <hr class="filters">
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation" style="margin-top: 1px;">
                 Work coach led
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation" style="margin-top: 1px;">
                 Partner led
              </label>
            </div>
          </div>
        </fieldset>
      </div>


                    <div>
                        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" style="margin-top: 20px;">
                                  Filter
                                </button>
                                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 20px;">
                                  Reset
                          </button>
                    </div>



</div>
<div class="col-md-12" style="height:1px;">
</div>



  <div class="govuk-grid-column-three-quarters">

    <table class="govuk-table" border="0px">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Name</th>
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">NINO</th>
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Approach</th>
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col"><a href="#" class="govuk-link">Action due&nbsp;&nbsp;<img src="../../../public/images/arrow.png" width="12px"></a></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <a href="#" class="govuk-link">Andrew Smith</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              JC123456X</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Partner led</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <a href="#" class="govuk-link">Andrew Smith</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              JC123456X</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Partner led</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <a href="#" class="govuk-link">Andrew Smith</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              JC123456X</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Partner led</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <a href="#" class="govuk-link">Andrew Smith</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              JC123456X</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Partner led</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <a href="#" class="govuk-link">Andrew Smith</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              JC123456X</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Partner led</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <a href="#" class="govuk-link">Andrew Smith</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              JC123456X</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Partner led</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <a href="#" class="govuk-link">Andrew Smith</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              JC123456X</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Partner led</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <a href="#" class="govuk-link">Andrew Smith</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              JC123456X</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Partner led</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <a href="#" class="govuk-link">Andrew Smith</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              JC123456X</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Partner led</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 February 2020</td>
        </tr>




      </tbody>
    </table>
    <p class="govuk-body govuk-!-margin-bottom-8">


    <div class="govuk-grid-column-one-quarter" style="width:10px; margin-left:-14px;">
  <a href="#" class="govuk-link"><img src="../../../public/images/pagination-back.png" width="12px"></a>
    </div>
    <div class="govuk-grid-column-one-quarter" style="width:80px;">
  <a href="#" class="govuk-link" style="margin-top:1px;">Previous</a>
    </div>
    <div class="govuk-grid-column-one-quarter" style="width:10px;">
  <a href="#" class="govuk-link" style="margin-top:1px;">1</a>
    </div>
    <div class="govuk-grid-column-one-quarter" style="width:10px;">
  <a href="#" class="govuk-link" style="margin-top:1px;">2</a>
    </div>
    <div class="govuk-grid-column-one-quarter" style="width:10px;">
  <p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold"  style="margin-top:1px;">3</p>
    </div>
    <div class="govuk-grid-column-one-quarter" style="width:60px;">
  <a href="#" class="govuk-link" style="margin-top:1px;">Next</a>
    </div>
    <div class="govuk-grid-column-one-quarter" style="width:10px;" >
  <a href="#" class="govuk-link"><img src="../../../public/images/pagination-forward.png" width="12px"></a>
    </div>



  </div>
</div>


{% endblock %}
