{% extends "sprint55/singles/layout2.html" %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

<h1 class="govuk-heading-xl">My tasks</h1>


  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:5px;">Initial conversation</p>
      <p class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold" style="margin-bottom:-5px;">10</p>
      <a href="#" class="govuk-link">View</a>
  </div>
  <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:5px;">Readiness conversation</p>
      <p class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold" style="margin-bottom:-5px;">2</p>
      <a href="#" class="govuk-link">View</a>
  </div>
  <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:5px;">Issue Migration Notice</p>
      <p class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold" style="margin-bottom:-5px;">4</p>
      <a href="index-reviews-sidenav-task1-list" class="govuk-link">View</a>
  </div>
  <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:5px;">Issue Reminder</p>
      <p class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold" style="margin-bottom:-5px;">6</p>
      <a href="#" class="govuk-link">View</a>
  </div>
</div>

<p class="govuk-body govuk-!-margin-bottom-9">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:5px;">Calculate TP</p>
      <p class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold" style="margin-bottom:-5px;">1</p>
      <a href="#" class="govuk-link">View</a>
  </div>
  <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:5px;">Deferral review</p>
      <p class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold" style="margin-bottom:-5px;">4</p>
      <a href="#" class="govuk-link">View</a>
  </div>
  <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:5px;">Exclusion review</p>
      <p class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold" style="margin-bottom:-5px;">3</p>
      <a href="#" class="govuk-link">View</a>
  </div>
</div>

{% endblock %}
