{% extends "sprint55/singles/layout2.html" %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">

  <h2 class="govuk-heading-l">My cases</h2>


  <form action='index-reviews-sidenavV3-collapsed' method='post' class='form' autocomplete='off'>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Hide filters
  </button>
  </form>

  <p class="govuk-body govuk-!-margin-bottom-2">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <h4 class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold">Filter by task</h4>
        <hr class="filters">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation" style="margin-top: 1px;">
              Issue Migration Notice
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4" style="margin-top: 1px;">
              Send reminder
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-2" style="margin-top: 1px;">
              Deferral review
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-3" style="margin-top: 1px;">
              Exclusion review
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4" style="margin-top: 1px;">
              Calculate TP
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4" style="margin-top: 1px;">
              Task due date
            </label>
          </div>
        </div>
      </fieldset>
    </div>


    <p class="govuk-body govuk-!-margin-bottom-2">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <h4 class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold">Filter by approach</h4>
          <hr class="filters">
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation" style="margin-top: 1px;">
                Work coach led
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation" style="margin-top: 1px;">
                Partner led
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <!-- <p class="govuk-body govuk-!-margin-bottom-2">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <h4 class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold">Filter by claim by date</h4>
            <hr class="filters">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation" style="margin-top: 1px;">
                  Closest claim by date
                </label>
              </div>
          </fieldset>
        </div> -->

                    <div>
                        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" style="margin-top: 20px;">
                                  Filter
                                </button>
                                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 20px;">
                                  Reset
                          </button>
                    </div>



</div>
<div class="col-md-12" style="height:129px;">
</div>



  <div class="govuk-grid-column-three-quarters">

    <table class="govuk-table" border="0px">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Task</th>
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col"><a href="#" class="govuk-link">Claimant details&nbsp;&nbsp;<img src="../../../public/images/arrow.png" width="12px"></a></th>
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col"><a href="#" class="govuk-link">Claim by date&nbsp;&nbsp;<img src="../../../public/images/arrow.png" width="12px"></a></th>
          <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col"><a href="#" class="govuk-link">Task due date&nbsp;&nbsp;<img src="../../../public/images/arrow.png" width="12px"></a></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="../../couples/claimantdash/selected-single-addpartner" class="govuk-link">
            Issue Migration Notice</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Andrew Smith</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Not yet determind</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">1 day overdue</span></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Review deferral</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Ben Jones</span><br><span class="approach">Work coach led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">Not yet determind</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">1 day overdue</span></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Beth Smithson</span><br><span class="approach">Work coach led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">3 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">Due</span></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Caroline Turner</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">3 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">Due</span></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Daniel Smart</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">3 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">Due</span></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Lee Smith</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">13 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">Due</span></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Helen Scott</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">20 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">Due</span></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Karen Cannon</span><br><span class="approach">Work coach led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">21 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">Due</span></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Sarah Turner</span><br><span class="approach">Partner led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">25 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">Due</span></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top"><a href="#" class="govuk-link">
            Calculate TP</a></td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top">
            <span class="govuk-body govuk-!-font-size-16">
              Simon Richards</span><br><span class="approach">Work coach led</span></td>
            <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right">29 August 2020</td>
          <td class="govuk-body govuk-!-font-size-16 govuk-table__cell" valign="top" align="right"><span class="work-list-review-due-text2">Due</span></td>
        </tr>


      </tbody>
    </table>

  </div>
</div>


{% endblock %}
