{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName + " prototype",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <!-- <p class="govuk-body govuk-!-margin-bottom-7"></p>
<h2 class="govuk-heading-l">Transitional Protection Prototype</h2>
<a href="../tp/tp-income-benefits-alt" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a> -->
<h2 class="govuk-heading-l">Track a move to UC scenarios</h2>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 1</p>
<p>Take a claimant from 'in scope to move' to making a claim</p>
<a href="../worklist/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>



<!-- <hr>
<p class="govuk-body govuk-!-font-weight-bold">Appointee details</p>
<a href="../claimantdash/appointee.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a> -->



<!-- <hr>
<h2 class="govuk-heading-l">Transitional Protection Prototype</h2>
<a href="../worklist/tp.html" role="button" draggable="false" class="govuk-button govuk-button--start">
  Start
</a> -->
</div>
</div>
</div>

{% endblock %}
