{% extends "sprint58/singles/layout.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2"></p>
        <h2 class="govuk-heading-l">What did the claimant want to discuss?</h2>
      </div>
  </div>

<fieldset class="govuk-fieldset">
<form action='success' method='post' class='form' autocomplete='off'>

       <div class="govuk-radios govuk-radios">

                      <div class="govuk-radios govuk-radios">

                                  <div class="govuk-checkboxes" data-module="checkboxes">
                                    <span id="waste-hint" class="govuk-hint">
                                          Select all that apply.
                                        </span>
                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                       <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                         5 week gap
                                       </label>
                                     </div>
                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                       <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                         Paying rent/housing
                                       </label>
                                     </div>
                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                       <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                         Computer skills
                                       </label>
                                     </div>
                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                       <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                        Being paid monthly
                                       </label>
                                     </div>
                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                       <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                         UC Horror stories
                                       </label>
                                     </div>
                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                       <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                         UC Horror stories
                                       </label>
                                     </div>
                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                       <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                        Debt
                                       </label>
                                     </div>
                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                       <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                         Using the UC account
                                       </label>
                                     </div>
                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                       <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                        Time of year
                                       </label>
                                     </div>


                                     <div class="govuk-checkboxes__item">
                                       <input class="govuk-checkboxes__input" id="how-contacted-conditional-3" name="reason2" type="checkbox" name="reason" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
                                       <label class="govuk-label govuk-checkboxes__label" for="how-contacted-conditional-3">
                                         Another reason
                                       </label> </div>
                                     <div class="govuk-radios__conditional govuk-checkboxes__conditional--hidden" id="conditional-how-contacted-conditional-3">
                                       <div class="govuk-form-group">
                                         <label class="govuk-label" for="contact-by-text">
                                           State reason
                                         </label>
                                         <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
                                       </div>
                                     </div>

<p class="govuk-body govuk-!-margin-bottom-7"></p>
  <p class="govuk-body govuk-!-font-weight-bold">
    Are there any blockers the claimant raises about making a claim?</p>

    <div class="govuk-radios govuk-radios">

                   <div class="govuk-radios govuk-radios">

                               <div class="govuk-checkboxes" data-module="checkboxes">
                                 <span id="waste-hint" class="govuk-hint">
                                       Select all that apply.
                                     </span>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                      Anxiety/depression
                                    </label>
                                  </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                      Uncertainty
                                    </label>
                                  </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                    Not feeling ready
                                    </label>
                                  </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                     Comprehension
                                    </label>
                                  </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                      Needs support from someone else to make claim
                                    </label>
                                  </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                      New issues occuring in life
                                    </label>
                                  </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                     Timing not right yet
                                    </label>
                                  </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="reason2" type="checkbox" value="Going into hospital">
                                    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                      Not having the correct documents
                                    </label>
                                  </div>


                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="how-contacted-conditional-3" name="reason2" type="checkbox" name="reason" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
                                    <label class="govuk-label govuk-checkboxes__label" for="how-contacted-conditional-3">
                                      Another reason
                                    </label> </div>
                                  <div class="govuk-radios__conditional govuk-checkboxes__conditional--hidden" id="conditional-how-contacted-conditional-3">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label" for="contact-by-text">
                                        State reason
                                      </label>
                                      <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
                                    </div>
                                  </div>


                                                        </fieldset>
                                                          <p class="govuk-body govuk-!-margin-bottom-7"></p>
                                                        <div>
                                                          <button type="submit" class="govuk-button">
                                                            Submit
                                                          </button>
                                                        </div>
                                                        </main>
                                                      <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
