{% set claimStatus = 'ready for Migration Notice' %}
{% extends "sprint56/singles/layout3.html" %}

{% block main %}
{% block content %}
<div class="govuk-width-container">
    <!-- <a href="index.html" class="govuk-back-link">Back</a> -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">

        <div class="sidemenu-bar-noselect"></div>
          <h2 class="govuk-heading-s">Log an action</h2>
<ul class="govuk-list">

<li><a class="govuk-link govuk-link--no-visited-state" href="../migrationnotice2/index">Migration Notice issued</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../pauseexclude/index.html">Deferred or excluded</a></li>
<li><a class="govuk-link govuk-link--no-visited-state" href="../nomoreaction/index.html">Withdrawn</a></li>
<!-- <li><a class="govuk-link govuk-link--no-visited-state" href="../claimmade/claim.html">UC claim made</a></li> -->
</ul>





      </div>

      <div class="govuk-grid-column-three-quarters">

        <div class="claimant-heading">Claimant details</div>
<hr>



        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p>Date of birth</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>October 1979</p>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
        </div>



  <p class="govuk-body govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">Case history</h2>
        <hr>
                <p class="govuk-body govuk-!-margin-bottom-6">
                <ol class="govuk-list timeline">
                  <li class="timeline-entry">
                    <h3 class="govuk-heading-s timeline-title">Readiness conversation 1: Ready for Migration Notice<br></h3>
                    <p class="timeline-info govuk-body-s">
                      <span class="timeline-date">2 May 2019</span>
                    <p>Conversation date: 2 May 2019</p>
                  </li>
                          <li class="timeline-entry">
                            <h3 class="govuk-heading-s timeline-title">Initial conversation complete</h3>
                            <p class="timeline-info govuk-body-s">
                              <span class="timeline-date">2 May 2019</span>
                            </p>
                            <p>Conversation date: 2 May 2019</p>
                          </li>
                  </ol>
        <a href="#" class="govuk-link govuk-link--no-visited-state">View full history</a>



      </div>
    </div>

  </main>
</div>

</div>
{% endblock %}
{% endblock %}
