{% set claimStatus = 'MIGRATION NOTICE ISSUED' %}
{% extends "sprint51/couples/layout2.html" %}

{% block main %}
{% block content %}

<div class="govuk-width-container">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2"></p>
<h2 class="govuk-heading-l">Calculate Transitional Protection</h2>

<p class="govuk-body govuk-!-font-size-24">Enter the details of the household. Ensure that all section are completed before calculating.</p>

    <fieldset class="govuk-fieldset">
    <form action='add/success' method='post' class='form' autocomplete='off'>



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
<!--
    <h4 class="govuk-heading-s">Is the claimant eligible for TP?</h4>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div> -->



          <div align="left">
            <div>
              <a href="">
              <img src="../../../public/images/tp01.png" width="990PX">
          </a>
            </div>
          </div>




    </div>
  </div>







</fieldset>
</div>






                                                           <button type="submit" class="govuk-button">
                                                            Submit
                                                          </button>
                                                        </div>
                                                        </main>
                                                      <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
