{% extends "layout2.html" %}


{% block content %}




    <div class="govuk-checkboxes" data-module="checkboxes">
      <div>
        <label class="container">

          <input type="checkbox" id="citizenship-conditional-1" data-aria-controls="conditional-citizenship-conditional-1">
       <span class="checkmark"></span><span class="copy">

         <span class="govuk-link govuk-body govuk-!-font-size-16" id="citizenship-conditional-1"><a href="selected">Select in scope claimants to move</a></span>
        </label>
      </div>

<br><br>



<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__cell" scope="col"><span class="ni-margin">National Insurance number</span></th>
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Status</th>
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Claim by date</th>
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Reminder due</th>
      <th class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-table__cell" scope="col">Review due</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/selected.html" class="link-margin">QQ423881A</a></th>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Selected to move</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/migrationissued.html" class="link-margin">EW234ORI</a></th>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Migration notice issued</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">2 August 2019</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">30 May 2019</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/claimmade.html" class="link-margin">JC12325IC</a></th>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Claim submitted</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">31 August 2019</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"><a href="../claimantdash/paused.html" class="link-margin">JB5432LP</a></th>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">Paused</td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">30 July 2019</td>
    </tr>
    <tr class="govuk-table__row">
  <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">
              <label class="container govuk-checkboxes__conditional">
                <input type="checkbox" >
              <span class="checkmark"></span></label>
              <label class="container govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-1" >
                <input type="checkbox" checked="checked">
              <span class="checkmark"></span></label>
              <a href="../claimantdash/paused.html" class="link-margin">JB5432LP</a>
            </td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">In scope</td>
      <td class="govuk-table__cell"></td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
  <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">
              <label class="container govuk-checkboxes__conditional">
                <input type="checkbox" >
              <span class="checkmark"></span></label>
              <label class="container govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-1" >
                <input type="checkbox" checked="checked">
              <span class="checkmark"></span></label>
              <a href="../claimantdash/paused.html" class="link-margin">JB5432LP</a>
            </td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell">In scope</td>
      <td class="govuk-table__cell"></td>
    <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
      <td class="govuk-body govuk-!-font-size-16 govuk-table__cell"></td>
    </tr>

  </tbody>
</table>






{% endblock %}
