{% set claimStatus = 'CLAIM SUBMITTED' %}
{% extends "layout.html" %}

{% block main %}
{% block content %}


<div class="govuk-width-container">
    <a href="../claimantdash/readytomove.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-2"></p>
            <h2 class="govuk-heading-l">What change in circumstances has the claimant had?</h2>
        </div>
    </div>


    <form action='success' method='post' class='form' autocomplete='off'>
        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
                    <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="citizenship-conditional-1" name="changecircs2" type="radio" value="yes" data-aria-controls="conditional-citizenship-conditional-1">
                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
                                Claimant is deceased
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="citizenship-conditional-2" name="changecircs2" type="radio" value="no" data-aria-controls="conditional-citizenship-conditional-2">
                            <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                                Claimant had decided not to progress
                            </label>
                        </div>


                    <p class="govuk-body govuk-!-margin-bottom-5"></p>

                    <div>
                        <button type="submit" class="govuk-button">Continue</button>
                    </div>
                    <p class="govuk-body govuk-!-margin-bottom-5"></p>

                </fieldset>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
{% endblock %}
