{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName + " prototype",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m ">
        TP Calculator Prototype
      </h1>
      <a href="tp/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
  Start now
</a>


    </div>
</div>

{% endblock %}
