{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName + " prototype",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <!-- <p class="govuk-body govuk-!-margin-bottom-7"></p>
<h2 class="govuk-heading-l">Transitional Protection Prototype</h2>
<a href="../tp/tp-income-benefits-alt" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a> -->
<h2 class="govuk-heading-l">BOB Prototype</h2>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 1</p>
<p>Take a claimant from preperation conversation to making a claim</p>
<a href="worklist/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>


<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 2</p>
<p>Issuing a migration notice the next day</p>
<a href="claimantdash/readytomove.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>


<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 3</p>
<p>Extend the claim by date</p>
<a href="claimantdash/migrationissued.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 4</p>
<p>Pause a claimant's move</p>
<a href="claimantdash/selected.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 5</p>
<p>Cancel claimant move post migration letter issued</p>
<a href="claimantdash/cancel2.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 6</p>
<p>Claimant no longer needs to be moved</p>
<a href="claimantdash/selected-noaction1.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<h2 class="govuk-heading-l">Transitional Protection Prototype</h2>
<a href="../worklist/tp.html" role="button" draggable="false" class="govuk-button govuk-button--start">
  Start
</a>
</div>
</div>
</div>

{% endblock %}
