{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName + " prototype",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <!-- <p class="govuk-body govuk-!-margin-bottom-7"></p>
<h2 class="govuk-heading-l">Transitional Protection Prototype</h2>
<a href="../tp/tp-income-benefits-alt" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a> -->
<h2 class="govuk-heading-l">Track a move to UC scenarios</h2>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 1a</p>
<p>Take a claimant from initial conversation to making a claim</p>
<a href="worklist/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<p class="govuk-body govuk-!-font-weight-bold">Scenario 1b</p>
<p>Issue Migration Notice - alternative journey</p>
<a href="readytomove-alt/index.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 2</p>
<p>Claimant not ready to receive the Migration Notice</p>
<a href="claimantdash/initialconvo.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 3</p>
<p>Withdraw claimant from journey</p>
<a href="claimantdash/selected.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 4</p>
<p>Give the claimant more time</p>
<a href="claimantdash/cancel2.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 5</p>
<p>Cancel Migration Notice</p>
<a href="claimantdash/cancel2.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<p class="govuk-body govuk-!-font-weight-bold">Scenario 6</p>
<p>Defer a move</p>
<a href="claimantdash/selected.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>

<hr>
<p class="govuk-body govuk-!-font-weight-bold">Appointee details</p>
<a href="claimantdash/appointee.html" role="button" draggable="false" class="govuk-button govuk-button--start">
Start
</a>



<hr>
<h2 class="govuk-heading-l">Transitional Protection Prototype</h2>
<a href="../worklist/tp.html" role="button" draggable="false" class="govuk-button govuk-button--start">
  Start
</a>
</div>
</div>
</div>

{% endblock %}
