{% set claimStatus = 'READY TO RECEIVE A MIGRATION NOTICE' %}
{% extends "layout3.html" %}

{% block main %}
{% block content %}

<div class="govuk-width-container">
    <a href="issue.html" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2"></p>
        <h2 class="govuk-heading-l">How did you issue the Migration Notice?
        <!-- {{ data['passport-issued-day'] }}
        {% if data['passport-issued-month'] === "1" %}
          January
        {% elif data['passport-issued-month'] === "2" %}
          February
        {% elif data['passport-issued-month'] === "3" %}
          March
        {% elif data['passport-issued-month'] === "4" %}
          April
        {% elif data['passport-issued-month'] === "5" %}
          May
        {% elif data['passport-issued-month'] === "6" %}
          June
        {% elif data['passport-issued-month'] === "7" %}
          July
        {% elif data['passport-issued-month'] === "8" %}
          August
        {% elif data['passport-issued-month'] === "9" %}
          September
        {% elif data['passport-issued-month'] === "10" %}
          October
        {% elif data['passport-issued-month'] === "11" %}
          November
        {% elif data['passport-issued-month'] === "12" %}
          December
        {% endif %}
        {{ data['passport-issued-year'] }} -->
      </h2>
      </div>
  </div>



<fieldset class="govuk-fieldset">
<form action='success-nottoday' method='post' class='form' autocomplete='off'>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
    <div class="govuk-checkboxes" data-module="checkboxes">
      <!-- <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox" value="Job Seekers Allowance" data-aria-controls="conditional-citizenship-conditional-1" {{ checked("vehicle-features", "Jobseeker Allowance") }}>
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
          I’ve issued a Migration Notice with the claim date of 2 August 2019
        </label>
      </div> -->

      <div id="conditional-citizenship-conditional-1">
        <div class="govuk-form-group">

          <!-- <label class="govuk-label" for="contact-by-email">
            <p class="govuk-body govuk-!-font-weight-bold">How did you issue the Migration Notice?</p>
          </label> -->

                          <div class="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="vehicle-type-car" name="vehicle-type" type="radio" value="Working" {{ checked("vehicle-type", "Working") }}>
                              <label class="govuk-label govuk-radios__label" for="vehicle-type-car">
                                I gave it to the claimant
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="vehicle-type-lorry" name="vehicle-type" type="radio" value="Not working" {{ checked("vehicle-type", "Not working") }}>
                              <label class="govuk-label govuk-radios__label" for="vehicle-type-lorry">
                                  I posted it
                              </label>
                            </div>

                          </div>
        </div>

    </div>
  </div>
</div>




                                                        </fieldset>

                                                        <div>
                                                          <button type="submit" class="govuk-button">
                                                            Submit
                                                          </button>
                                                        </div>
                                                        </main>
                                                      <p class="govuk-body govuk-!-margin-bottom-7"></p>

                                                      </div>
                                                      {% endblock %}
                                                      {% endblock %}
