{% extends "sprint39/couples/layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName + " prototype",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<h2 class="govuk-heading-l">Scenarios</h2>

<h2 class="govuk-heading-m">Case list view with filters</h2>
<a href="../../../sprint54/singles/worklist/index-reviews-sidenavV5" class="govuk-link">1. Take a claimant from 'in scope to move' to making a claim</a><br>
<div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-m">Unlink a partner</h2>
    <a href="../../../sprint46/couples/claimantdash/selected" class="govuk-link">Unlink from partner</a><br>
  <div class="govuk-!-padding-bottom-6"></div>

<h2 class="govuk-heading-m">Previous scenarios</h2>
    <a href="../claimantdash/selected.html" class="govuk-link">1. Log initial conversation</a><br>
    <a href="../claimantdash/initialconvo" class="govuk-link">2. Log readiness conversation outcome</a><br>
    <a href="../claimantdash/readytomove" class="govuk-link">3. Log Migration Notice issued</a><br>
    <a href="../claimantdash/migrationissued" class="govuk-link">4. Log reminder issued</a><br>
    <a href="../claimantdash/migrationissued" class="govuk-link">5. More time given</a><br>
    <a href="../claimantdash/migrationissued" class="govuk-link">6. Stop a move - defer</a><br>
    <a href="../claimantdash/migrationissued" class="govuk-link">7. UC claim made</a><br>
    <a href="../../../sprint48/couples/claimantdash/selected" class="govuk-link">8. Withdraw - claimant died (pre Migration Notice</a><br>
    <a href="../../../sprint48/couples/claimantdash/migrationissued" class="govuk-link">>9. Withdraw - claimant died (post Migration Notice)</a><br>
    <a href="../add/index" class="govuk-link">10. Add a claimant</a><br>
    <a href="../claimantdash/selected-unlinkv2" class="govuk-link">11. Unlink from partner record</a><br>
    <p class="govuk-body govuk-!-margin-bottom-6">
    </div>
  </div>

  <div class="govuk-!-padding-bottom-4"></div>
<!--
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <span class="govuk-caption-m">Last updated:</span>
        <p class="govuk-body-s">23 July 2019</p>
    </div>
  </div> -->

{% endblock %}
